spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sar-db?sslmode=prefer
    username: admin
    password: admin_password
  flyway:
    locations: classpath:db/sar,db/sar_{vendor},db/dev/data/sar
    enabled: true
    url: jdbc:postgresql://localhost:5432/sar-db?sslmode=prefer
    user: admin
    password: admin_password
    out-of-order: true

  jpa:
    show-sql: false

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${hmpps-auth.url}/.well-known/jwks.json

      client:
        provider:
          hmpps-auth:
            token-uri: ${hmpps-auth.url}/oauth/token

        registration:
          sar-client:
            provider: hmpps-auth
            client-id: "hmpps-subject-access-request"
            client-secret: "clientsecret"
            authorization-grant-type: client_credentials
            scope: read

hmpps-auth:
  url: http://localhost:9090/auth
  client-id: "hmpps-subject-access-request"
  client-secret: "clientsecret"

sar-html-renderer-api:
  url: http://localhost:8090
G1-api:
  url: http://localhost:9001
G2-api:
  url: http://localhost:9002
G3-api:
  url: http://localhost:9003

s3:
  provider: localstack
  region: eu-west-2
  serviceEndpointOverride: http://localhost:4566
  bucket-name: subject-access-request-html

backlog-request:
  processor:
    pool-size: 5
    interval: 3
    initial-delay: 5
    enabled: true
  api:
    enabled: true

logging:
  level:
    com.zaxxer.hikari: ${HIKARI_LOGGING_LEVEL:INFO}
