<style>
  body
  {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12pt;
  }
  table {
    border-collapse: collapse;
    border-style: hidden;
    width: 50%
  }
  table td, table th {
    border: 1px solid black;
  }
</style>

{{#.}}
  <h2>Keyworker</h2>
  <table>
    <tr><td>Offender Keyworker ID</td><td>{{offenderKeyworkerId}}</td></tr>
    <tr><td>Offender Number</td><td>{{offenderNo}}</td></tr>
    <tr><td>User ID</td><td>{{userId}}</td></tr>
  </table>
{{/.}}