{{#.}}
  <table>
    <tr>
      <td>Offender Keyworker ID</td>
      <td>{{offenderKeyworkerId}}</td>
    </tr>
    <tr>
      <td>Offender No.</td>
      <td>{{offenderNo}}</td>
    </tr>
  </table>
{{/.}}