<style>
    * {
        font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
        font-size: 12pt;
        color: #0b0c0c;
    }
    /* --- HEADINGS --- */

    h1, h2, h3 {
        color: #0b0c0c;
        font-weight: 700;
        display: block;
        margin-top: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    h1 {
        font-size: 18pt;
        line-height: 1.09375;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
    }

    h2, h3 {
        font-size: 16pt;
        line-height: 1.0416666667;
        margin-top: 15px;
        margin-bottom: 5px;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }

    /* --- SUMMARY LIST --- */

    table.summary-list {
        display: table;
        width: 700px;
        table-layout: fixed;
        border-collapse: collapse;
        margin: 0 0 5px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    table.summary-list tr {
        display: table-row;
        margin: 0 0 20px;
    }

    table.summary-list tr td {
        border-bottom: 1px solid #b1b4b6;
        margin-bottom: 5px;
        overflow-wrap: break-word;
        display: table-cell;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 0;
        margin-inline-start: 40px;
        width: 70%;
        table-layout: fixed;
        border-collapse: collapse;
        line-height: 1.25;
        font-weight: 400;
        white-space: pre-wrap;
        vertical-align: top;
    }

    table.summary-list tr td:first-child {
        font-size: 14pt;
        width: 30%;
        font-weight: 700;
        padding-right: 20px;
        vertical-align: top;
    }

    /* --- DATA TABLE --- */

    table.data-table {
        display: table;
        width: 700px;
        table-layout: fixed;
        border-collapse: collapse;
        margin: 0 0 5px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    table.data-table tr {
        display: table-row;
        margin: 0 0 20px;
    }

    table.data-table tr td {
        border-bottom: 1px solid #b1b4b6;
        margin-bottom: 5px;
        overflow-wrap: break-word;
        display: table-cell;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 0;
        margin-inline-start: 40px;
        width: 70%;
        table-layout: fixed;
        border-collapse: collapse;
        line-height: 1.25;
        font-weight: 400;
        white-space: pre-wrap;
        vertical-align: top;
    }

    table.data-table tr:first-child td {
        font-size: 14pt;
        width: 30%;
        font-weight: 700;
        padding-right: 20px;
        border-bottom: none;
        vertical-align: top;
    }

</style>

{{{ serviceTemplate }}}
