<style>
    /* Placeholder style sheet - to be replaced */
    body {
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 12pt;
    }

    table {
        border-collapse: collapse;
        border-style: hidden;
        width: 50%;
    }

    table td, table th {
        border: 1px solid black;
    }
</style>

{{ serviceTemplate }}
