<h1>Sensitive Case Notes</h1>
{{#.}}
    <h2>Case note</h2>
    <table class="summary-list">
        <tr><td>Type</td><td>{{ optionalValue type }}</td></tr>
        <tr><td>Sub type</td><td>{{ optionalValue subType }}</td></tr>
        <tr><td>Creation date time</td><td>{{ optionalValue (formatDate creationDateTime) }}</td></tr>
        <tr><td>Author name</td><td>{{ getUserLastName authorUsername }}</td></tr>
    </table>
    <table class="data-table">
        <tr><td>Text</td></tr>
        <tr><td>{{ optionalValue text }}</td></tr>
    </table>

    {{#amendments}}
        <h3>Amendment</h3>
        <table class="summary-list">
            <tr><td>Creation date time</td><td>{{ optionalValue (formatDate creationDateTime) }}</td></tr>
            <tr><td>Author Name</td><td>{{ getUserLastName authorUsername }}</td></tr>
        </table>
        <table class="data-table">
            <tr><td>Additional note text</td></tr>
            <tr><td>{{ optionalValue additionalNoteText }}</td></tr>
        </table>
    {{/amendments}}
{{/.}}
