<h1>Incentives</h1>
{{#.}}
    <h2>Incentive</h2>
    <br>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Prisoner Number</td>
            <td class="data-column-30">Next review date</td>
            <td class="data-column-20">Review type</td>
        </tr>
        <tr>
            <td>{{ optionalValue prisonerNumber }}</td>
            <td>{{ optionalValue (formatDate nextReviewDate)}}</td>
            <td>{{ optionalValue reviewType }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Prison ID</td>
            <td class="data-column-25">Location ID</td>
            <td class="data-column-30">Review time</td>
        </tr>
        <tr>
            <td>{{ optionalValue prisonId }}</td>
            <td>{{ optionalValue locationId }}</td>
            <td>{{ optionalValue (formatDate reviewTime) }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Current</td>
            <td class="data-column-25">Level code</td>
            <td class="data-column-50">Comment text</td>
        </tr>
        <tr>
            <td>{{ optionalValue current }}</td>
            <td>{{ optionalValue levelCode }}</td>
            <td>{{ optionalValue commentText }}</td>
        </tr>
    </table>
    <br>
{{/.}}
{{^.}}
    <p>No data held</p>
{{/.}}
