<h1>Manage Activities and Appointments</h1>
{{#.}}
    <table class="summary-list">
        <tr><td>Prisoner number</td><td>{{ optionalValue prisonerNumber }}</td></tr>
        <tr><td>Date from</td><td>{{ optionalValue (formatDate fromDate) }}</td></tr>
        <tr><td>Date to</td><td>{{ optionalValue (formatDate toDate) }}</td></tr>
    </table>

    <h2>Allocations</h2>

    <table class="summary-list">
    <table class="data-table">
        <tr>
            <td class="data-column-25">Allocation ID</td>
            <td class="data-column-25">Prison Code</td>
            <td class="data-column-25">Prisoner Status</td>
            <td class="data-column-25"></td>
        </tr>
        {{#allocations}}
            <tr>
                <td>{{ optionalValue allocationId }}</td>
                <td>{{ optionalValue prisonCode }}</td>
                <td>{{ optionalValue prisonerStatus }}</td>
            </tr>
        {{/allocations}}
        {{^allocations}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/allocations}}
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-50">Activity summary</td>
            <td class="data-column-25">Activity ID</td>
            <td class="data-column-25">Date created</td>
        </tr>
        {{#allocations}}
            <tr>
                <td>{{ optionalValue activitySummary }}</td>
                <td>{{ optionalValue activityId }}</td>
                <td>{{ optionalValue dateCreated }}</td>
            </tr>
        {{/allocations}}
        {{^allocations}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/allocations}}
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Prisoner Status</td>
            <td class="data-column-25">Start date</td>
            <td class="data-column-25">End date</td>
            <td class="data-column-25">Pay band</td>
        </tr>
        {{#allocations}}
            <tr>
                <td>{{ optionalValue prisonerStatus }}</td>
                <td>{{ optionalValue startDate }}</td>
                <td>{{ optionalValue endDate }}</td>
                <td>{{ optionalValue payBand }}</td>
            </tr>
        {{/allocations}}
        {{^allocations}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/allocations}}
    </table>
    </table>

    <h2>Attendance summary</h2>
    {{#attendanceSummary}}
    <table class="summary-list">
        <tr><td>Attendance reason code</td><td>{{ optionalValue attendanceReasonCode }}</td></tr>
        <tr><td>Count</td><td>{{ optionalValue count }}</td></tr>
    </table>
    {{/attendanceSummary}}

    <h2>Waiting list applications</h2>
    {{#waitingListApplications}}
        <h3>Application</h3>
        <table class="summary-list">
            <tr><td>Waiting list ID</td><td>{{ optionalValue waitingListId }}</td></tr>
            <tr><td>Prison code</td><td>{{ optionalValue prisonCode }}</td></tr>
            <tr><td>Activity summary</td><td>{{ optionalValue activitySummary }}</td></tr>
            <tr><td>Application date</td><td>{{ optionalValue (formatDate applicationDate) }}</td></tr>
            <tr><td>Originator</td><td>{{ optionalValue originator }}</td></tr>
            <tr><td>Status</td><td>{{ optionalValue status }}</td></tr>
            <tr><td>Status date</td><td>{{ optionalValue (formatDate statusDate) }}</td></tr>
            <tr><td>Comments</td><td>{{ optionalValue comments }}</td></tr>
            <tr><td>Date created</td><td>{{ optionalValue (formatDate createdDate) }}</td></tr>
        </table>
    {{/waitingListApplications}}

    <h2>Appointments</h2>
    {{#appointments}}
        <h3>Appointment</h3>
        <table class="summary-list">
            <tr><td>Appointment ID</td><td>{{ optionalValue appointmentId }}</td></tr>
            <tr><td>Prison code</td><td>{{ optionalValue prisonCode }}</td></tr>
            <tr><td>Category code</td><td>{{ optionalValue categoryCode }}</td></tr>
            <tr><td>Start date</td><td>{{ optionalValue (formatDate startDate) }}</td></tr>
            <tr><td>Start time</td><td>{{ optionalValue startTime }}</td></tr>
            <tr><td>Extra information</td><td>{{ optionalValue extraInformation }}</td></tr>
            <tr><td>Attended</td><td>{{ optionalValue attended }}</td></tr>
            <tr><td>Date created</td><td>{{ optionalValue (formatDate createdDate) }}</td></tr>
        </table>
    {{/appointments}}
{{/.}}