<h1>Prepare Someone for Release</h1>
{{#.}}
    {{#prisoner}}
        <h2>Prisoner</h2>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Case Reference Number</td>
                <td class="data-column-35">ID</td>
                <td class="data-column-30">Prison name</td>
            </tr>
            <tr>
                <td>{{ optionalValue crn }}</td>
                <td>{{ optionalValue id}}</td>
                <td>{{ getPrisonName prisonId }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Creation date</td>
                <td class="data-column-35">Release date</td>
                <td class="data-column-30"></td>
            </tr>
            <tr>
                <td>{{ optionalValue (formatDate creationDate) }}</td>
                <td>{{ optionalValue (formatDate releaseDate) }}</td>
                <td></td>
            </tr>
        </table>
    {{/prisoner}}

    {{#assessment}}
        <br>
        <h2>Assessment Information</h2>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Prisoner ID</td>
                <td class="data-column-20">ID</td>
                <td class="data-column-25">Assessment date</td>
                <td class="data-column-30">Creation date</td>
            </tr>
            <tr>
                <td>{{ optionalValue prisonerId }}</td>
                <td>{{ optionalValue id }}</td>
                <td>{{ optionalValue (formatDate assessmentDate) }}</td>
                <td>{{ optionalValue (formatDate creationDate) }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Is ID required</td>
                <td class="data-column-20">Deletion date</td>
                <td class="data-column-25">Is bank account required</td>
                <td class="data-column-30"></td>
            </tr>
            <tr>
                <td>{{ convertBoolean isIdRequired }}</td>
                <td>{{ optionalValue (formatDate deletionDate) }}</td>
                <td>{{ convertBoolean isBankAccountRequired }}</td>
                <td></td>
            </tr>
        </table>
        <br>
        <h4>ID Documents</h4>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-50">Document name</td>
            </tr>
        {{#idDocuments}}
            <tr>
                <td>{{ optionalValue name }}</td>
            </tr>
        {{/idDocuments}}
        {{^idDocuments}}
            <tr>
                <td>No Data Held</td>
            </tr>
        {{/idDocuments}}
        </table>
    {{/assessment}}

    <br>
    {{#bankApplication}}
        <h2>Bank Application</h2>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-20">ID</td>
                <td class="data-column-35">Date application submitted</td>
                <td class="data-column-20">Current status</td>
                <td class="data-column-25">Is added to personal items</td>
            </tr>
            <tr>
                <td>{{ optionalValue id }}</td>
                <td>{{ optionalValue (formatDate applicationSubmittedDate) }}</td>
                <td>{{ optionalValue currentStatus}}</td>
                <td>{{ convertBoolean isAddedToPersonalItems }}</td>
                <td></td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-20">Bank name</td>
                <td class="data-column-35">Bank response date</td>
                <td class="data-column-45">Date added to personal items</td>
            </tr>
            <tr>
                <td>{{ optionalValue bankName}}</td>
                <td>{{ optionalValue (formatDate bankResponseDate) }}</td>
                <td>{{ optionalValue (formatDate addedToPersonalItemsDate) }}</td>
            </tr>
        </table>
        <br>
        <h4>Logs</h4>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-25">ID</td>
                <td class="data-column-25">Status</td>
                <td class="data-column-25">Change date</td>
            </tr>
        {{#logs}}
            <tr>
                <td>{{ optionalValue id }}</td>
                <td>{{ optionalValue status }}</td>
                <td>{{ optionalValue (formatDate changeDate)}}</td>
            </tr>
        {{/logs}}
        {{^logs}}
            <tr>
                <td>No Data Held</td>
                <td>No Data Held</td>
                <td>No Data Held</td>
            </tr>
        {{/logs}}
        </table>
    {{/bankApplication}}
    <br>
    <h2>Probation contact</h2>
    {{#deliusContact}}
        <br>
        <h4>Case note ID {{ optionalValue caseNoteId }}</h4>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Pathway</td>
                <td class="data-column-25">Creation date and time</td>
                <td class="data-column-25">Occurrence date and time</td>
                <td class="data-column-25">Created by</td>
            </tr>
            <tr>
                <td>{{ optionalValue pathway }}</td>
                <td>{{ optionalValue (formatDate creationDateTime) }}</td>
                <td>{{ optionalValue (formatDate occurrenceDateTime) }}</td>
                <td>{{ getUserLastName createdBy }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Text</td>
            </tr>
            <tr>
                <td>{{ optionalValue text }}</td>
            </tr>
        </table>
    {{/deliusContact}}

    {{#idApplication}}
        <br>
        <h2>ID Application</h2>
        {{#idType}}
            <h4>ID Type</h4>
            <table class="data-table">
                <tr>
                    <td class="data-column-50">Name of ID type</td>
                </tr>
                <tr>
                    <td>{{ optionalValue name }}</td>
                </tr>
            </table>
        {{/idType}}
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Creation date</td>
                <td class="data-column-30">Date application was submitted</td>
                <td class="data-column-30">Is priority application</td>
            </tr>
            <tr>
                <td>{{ optionalValue (formatDate creationDate) }}</td>
                <td>{{ optionalValue (formatDate applicationSubmittedDate) }}</td>
                <td>{{ convertBoolean isPriorityApplication }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Cost of application (£)</td>
                <td class="data-column-30">Refund amount</td>
                <td class="data-column-30">Have GRO</td>
            </tr>
            <tr>
                <td>{{ optionalValue costOfApplication }}</td>
                <td>{{ optionalValue refundAmount }}</td>
                <td>{{ convertBoolean haveGro }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Is UK national born overseas</td>
                <td class="data-column-30">Country of birth</td>
                <td class="data-column-30">Case number</td>
            </tr>
            <tr>
                <td>{{ convertBoolean isUkNationalBornOverseas }}</td>
                <td>{{ optionalValue countryBornIn }}</td>
                <td>{{ optionalValue caseNumber }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Court details</td>
                <td class="data-column-30">Driver's licence type</td>
                <td class="data-column-30">Driver's licence application made at</td>
            </tr>
            <tr>
                <td>{{ optionalValue courtDetails }}</td>
                <td>{{ optionalValue driversLicenceType }}</td>
                <td>{{ optionalValue driversLicenceApplicationMadeAt }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Is added to personal items</td>
                <td class="data-column-30">Date added to personal items</td>
                <td class="data-column-30">Status</td>
            </tr>
            <tr>
                <td>{{ convertBoolean isAddedToPersonalItems }}</td>
                <td>{{ optionalValue (formatDate isAddedToPersonalItemsDate) }}</td>
                <td>{{ optionalValue status }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Status update date</td>
                <td class="data-column-30">Date ID received</td>
                <td class="data-column-30"></td>
            </tr>
            <tr>
                <td>{{ optionalValue (formatDate statusUpdateDate) }}</td>
                <td>{{ optionalValue (formatDate dateIdReceived) }}</td>
                <td></td>
            </tr>
        </table>
    {{/idApplication}}
    <br>
    <h2>Status summary</h2>
    {{#statusSummary}}
        <br>
        <table class="summary-list">
            <tr><td>Type</td><td>{{ optionalValue ttype }}</td></tr>
        </table>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-50">Pathway</td>
                <td class="data-column-50">Assessment status</td>
            </tr>
        {{#pathwayStatus}}
            <tr>
                <td>{{ optionalValue pathway }}</td>
                <td>{{ optionalValue assessmentStatus }}</td>
            </tr>
        {{/pathwayStatus}}
        {{^pathwayStatus}}
            <tr>
                <td>No Data Held</td>
                <td>No Data Held</td>
            </tr>
        {{/pathwayStatus}}
        </table>
    {{/statusSummary}}
    {{^statusSummary}}
        <p>No Data Held</p>
    {{/statusSummary}}
    <br>
    <h2>Resettlement Assessment</h2>
    {{#resettlementAssessment}}
        {{#originalAssessment}}
            <br>
            <h3>Original Assessment</h3>
            <br>
            <table class="data-table">
                <tr>
                    <td class="data-column-30">Assessment type</td>
                    <td class="data-column-30">Last updated</td>
                    <td class="data-column-30">Updated by</td>
                </tr>
                <tr>
                    <td>{{ optionalValue assessmentType }}</td>
                    <td>{{ optionalValue (formatDate lastUpdated) }}</td>
                    <td>{{ getUserLastName updatedBy }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-30">Question title</td>
                    <td class="data-column-30">Answer</td>
                </tr>
                {{#questionsAndAnswers}}
                <tr>
                    <td>{{ optionalValue questionTitle }}</td>
                    <td>{{ optionalValue answer }}</td>
                </tr>
                {{/questionsAndAnswers}}
                {{^questionsAndAnswers}}
                    <tr>
                        <td>No Data Held</td>
                        <td>No Data Held</td>
                    </tr>
                {{/questionsAndAnswers}}
            </table>
        {{/originalAssessment}}
        <br>
        <h3>Latest Assessment</h3>
        {{#latestAssessment}}
            <br>
            <table class="data-table">
                <tr>
                    <td class="data-column-30">Assessment type</td>
                    <td class="data-column-30">Last updated</td>
                    <td class="data-column-30">Updated by</td>
                </tr>
                <tr>
                    <td>{{ optionalValue assessmentType }}</td>
                    <td>{{ optionalValue (formatDate lastUpdated) }}</td>
                    <td>{{ getUserLastName updatedBy }}</td>
                </tr>
            </table>
            <table class="data-table">

                <tr>
                    <td class="data-column-30">Question title</td>
                    <td class="data-column-30">Answer</td>
                </tr>
                {{#questionsAndAnswers}}
                <tr>
                    <td>{{ optionalValue questionTitle }}</td>
                    <td>{{ optionalValue answer }}</td>
                </tr>
                {{/questionsAndAnswers}}
                {{^questionsAndAnswers}}
                    <tr>
                        <td>No Data Held</td>
                        <td>No Data Held</td>
                    </tr>
                {{/questionsAndAnswers}}
            </table>
        {{/latestAssessment}}
        {{^latestAssessment}}
            <p>No Data Held</p>
        {{/latestAssessment}}
    {{/resettlementAssessment}}
    {{^resettlementAssessment}}
        <p>No Data Held</p>
    {{/resettlementAssessment}}
{{/.}}
{{^.}}
    <p>No data held</p>
{{/.}}
