<h1>Use of force</h1>
{{#.}}
    <h2>Incident of use of force - ID {{ optionalValue id }}</h2>
    <br>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Offender no</td>
            <td class="data-column-25">Booking ID</td>
            <td class="data-column-25">Date created</td>
            <td class="data-column-25">Date updated</td>
        </tr>
        <tr>
            <td>{{ optionalValue offenderNo }}</td>
            <td>{{ optionalValue bookingId }}</td>
            <td>{{ optionalValue (formatDate createdDate) }}</td>
            <td>{{ optionalValue (formatDate updatedDate) }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Sequence number</td>
            <td class="data-column-25">Deleted</td>
            <td class="data-column-25">Incident date</td>
            <td class="data-column-25">Date submitted</td>
        </tr>
        <tr>
            <td>{{ optionalValue sequenceNo }}</td>
            <td>{{ optionalValue (formatDate deleted) }}</td>
            <td>{{ optionalValue (formatDate incidentDate)}}</td>
            <td>{{ optionalValue (formatDate submittedDate) }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Status</td>
            <td class="data-column-25">Agency ID</td>
            <td class="data-column-25">Reporter name</td>
            <td class="data-column-25">User ID</td>
        </tr>
        <tr>
            <td>{{ optionalValue status }}</td>
            <td>{{ optionalValue agencyId }}</td>
            <td>{{ optionalValue reporterName }}</td>
            <td>{{ optionalValue userId }}</td>
        </tr>
    </table>

    <br>
    <h2>Form response</h2>
    {{#formResponse}}
        <h4>Evidence</h4>
        <br>
        {{#evidence}}
        <table class="data-table">
            <tr>
                <td>CCTV recording</td>
                <td>Bagged evidence</td>
                <td>Body-worn camera</td>
                <td>Photographs taken</td>
            </tr>
        <tr>
            <td>{{ optionalValue cctvRecording }}</td>
            <td>{{ optionalValue baggedEvidence }}</td>
            <td>{{ optionalValue bodyWornCamera }}</td>
            <td>{{ optionalValue photographsTaken }}</td>
        </tr>
        </table>
            <br>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Evidence tag reference</td>
                    <td class="data-column-75">Description</td>
                </tr>
                {{#evidenceTagAndDescription}}
                <tr><td>{{ optionalValue evidenceTagReference }}</td><td>{{ optionalValue description }}</td></tr>
                {{/evidenceTagAndDescription}}
            </table>

            <table class="data-table">
                    <tr>
                        <td>Body-worn camera numbers</td>
                    </tr>
                {{#bodyWornCameraNumbers}}
                    <tr>
                        <td>{{ optionalValue cameraNum }}</td>
                    </tr>
                {{/bodyWornCameraNumbers}}
            </table>
        {{/evidence}}
        <br>
        <h4>Involved staff</h4>
         {{#involvedStaff}}
             <h5>Staff member - ID {{ optionalValue staffId }}</h5>
             <table class="data-table">
                 <tr>
                     <td class="data-column-20">Name</td>
                     <td class="data-column-25">Email</td>
                     <td class="data-column-20">Username</td>
                     <td class="data-column-15">Verified</td>
                     <td class="data-column-20">Active caseload ID</td>
                 </tr>
                 <tr>
                     <td>{{ optionalValue name }}</td>
                     <td>{{ optionalValue email }}</td>
                     <td>{{ optionalValue username }}</td>
                     <td>{{ optionalValue verified }}</td>
                     <td>{{ optionalValue activeCaseLoadId }}</td>
                 </tr>
             </table>
         {{/involvedStaff}}

        <h4>Incident details</h4>
        <br>
           {{#incidentDetails}}
           <table class="summary-list">
               <tr><td>Location ID</td><td>{{ optionalValue locationId }}</td></tr>
               <tr><td>Planned use of force</td><td>{{ optionalValue plannedUseOfForce }}</td></tr>
               <tr><td>Authorised by</td><td>{{ optionalValue authorisedBy }}</td></tr>
               <tr><td>Witnesses</td><td><ul>{{#witnesses}}<li>{{ optionalValue name }}</li>{{/witnesses}}</ul></td>
               </tr>
           </table>
           {{/incidentDetails}}

        <br>
        <h4>Use of force details</h4>
        <br>
         {{#useOfForceDetails}}
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Body-worn camera</td>
                     <td class="data-column-50">Body-worn camera numbers</td>
                     <td class="data-column-25">Handcuffs applied</td>
                 </tr>
                 <tr>
                     <td>{{ optionalValue bodyWornCamera }}</td>
                     <td>{{#bodyWornCameraNumbers}}{{ optionalValue cameraNum }}{{/bodyWornCameraNumbers}}</td>
                     <td>{{ optionalValue handcuffsApplied }}</td>
                 </tr>
             </table>
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Pava drawn</td>
                     <td class="data-column-50">Pava drawn against prisoner</td>
                     <td class="data-column-25">Pava used</td>
                 </tr>
                 <tr>
                     <td>{{ optionalValue pavaDrawn }}</td>
                     <td>{{ optionalValue pavaDrawnAgainstPrisoner }}</td>
                     <td>{{ optionalValue pavaUsed }}</td>
                 </tr>
             </table>
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Baton drawn</td>
                     <td class="data-column-50">Baton drawn against prisoner</td>
                     <td class="data-column-25">Baton used</td>
                 </tr>
                 <tr>
                     <td>{{ optionalValue batonDrawn }}</td>
                     <td>{{ optionalValue batonDrawnAgainstPrisoner }}</td>
                     <td>{{ optionalValue batonUsed }}</td>
                 </tr>
             </table>
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Pain inducing techniques</td>
                     <td class="data-column-50">Pain inducing techniques used</td>
                     <td class="data-column-25">Personal protection techniques</td>
                 </tr>
                 <tr>
                     <td>{{ optionalValue painInducingTechniques }}</td>
                     <td>{{ optionalValue painInducingTechniquesUsed }}</td>
                     <td>{{ optionalValue personalProtectionTechniques }}</td>
                 </tr>
             </table>
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Positive communication</td>
                     <td class="data-column-50">Weapons observed</td>
                     <td class="data-column-25">Weapon types</td>
                 </tr>
                 <tr>
                     <td>{{ optionalValue positiveCommunication }}</td>
                     <td>{{ optionalValue weaponsObserved }}</td>
                     <td>{{#weaponTypes}}{{ optionalValue weaponType }}{{/weaponTypes}}</td>
                 </tr>
             </table>
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Guiding hold</td>
                     <td class="data-column-25">Escorting hold</td>
                     <td class="data-column-25">Restraint</td>
                     <td class="data-column-25">Restraint positions</td>
                 </tr>
                 <tr>
                     <td>{{ optionalValue guidingHold }}</td>
                     <td>{{ optionalValue escortingHold }}</td>
                     <td>{{ optionalValue restraint }}</td>
                     <td>{{#restraintPositions}}<li>{{ optionalValue . }}</li>{{/restraintPositions}}</td>
                 </tr>
             </table>
        {{/useOfForceDetails}}

        <br>
        <h4>Reasons for use of force</h4>
        <br>
        {{#reasonsForUseOfForce}}
            <table class="summary-list">
                    <tr><td>Primary Reason</td><td>{{ optionalValue primaryReason }}</td></tr>
                    <tr><td>Reasons</td><td><ul>{{#reasons}}<li>{{ optionalValue . }}</li>{{/reasons}}</ul></td></tr>
            </table>
        {{/reasonsForUseOfForce}}

        <br>
        <h4>Relocation and injuries</h4>
        <br>
        {{#relocationAndInjuries}}
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Relocation type</td>
                    <td class="data-column-25">F213 completed by</td>
                    <td class="data-column-25">Prisoner injuries</td>
                    <td class="data-column-25">Healthcare involved</td>
                </tr>
                <tr>
                    <td>{{ optionalValue relocationType }}</td>
                    <td>{{ optionalValue f213CompletedBy }}</td>
                    <td>{{ optionalValue prisonerInjuries }}</td>
                    <td>{{ optionalValue healthcareInvolved }}</td>

                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Healthcare practioner name</td>
                    <td class="data-column-25">Relocation compliancy</td>
                    <td class="data-column-25">Staff medical attention</td>
                    <td class="data-column-25">Prisoner hospitalisation</td>
                </tr>
                <tr>
                    <td>{{ optionalValue healthcarePractionerName }}</td>
                    <td>{{ optionalValue relocationCompliancy }}</td>
                    <td>{{ optionalValue staffMedicalAttention }}</td>
                    <td>{{ optionalValue prisonerHospitalisation }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-50">Prisoner relocation</td>
                    <td class="data-column-50">User specified relocation type</td>
                </tr>
                <tr>
                    <td>{{ optionalValue prisonerRelocation }}</td>
                    <td>{{ optionalValue userSpecifiedRelocationType }}</td>
                </tr>
            </table>

            <br>
            <h4>Staff needing medical attention</h4>
            <br>
            <table class="data-table">
                <tr><td>Name</td><td>Hospitalisation</td></tr>
                {{#staffNeedingMedicalAttention}}
                    <tr>
                        <td class="data-column-25">{{ optionalValue name }}</td>
                        <td class="data-column-75">{{ optionalValue hospitalisation }}</td>
                    </tr>
                {{/staffNeedingMedicalAttention}}
            </table>
        {{/relocationAndInjuries}}
    {{/formResponse}}

    <h2>Statements</h2>
    {{#statements}}
        <h4>Statement {{ optionalValue id }}</h4>
        <table class="data-table">
            <tr><td></td></tr><tr><td>{{{ optionalValue statement }}}</td></tr>
        </table>
        <table class="summary-list">
            <tr><td>ID</td><td>{{ optionalValue id }}</td></tr>
            <tr><td>Report ID</td><td>{{ optionalValue reportId }}</td></tr>
            <tr><td>Created date</td><td>{{ optionalValue (formatDate createdDate) }}</td></tr>
            <tr><td>Updated date</td><td>{{ optionalValue (formatDate updatedDate) }}</td></tr>
            <tr><td>Submitted date</td><td>{{ optionalValue (formatDate submittedDate) }}</td></tr>
            <tr><td>Deleted</td><td>{{ optionalValue (formatDate deleted) }}</td></tr>
            <tr><td>Next reminder date</td><td>{{ optionalValue (formatDate nextReminderDate) }}</td></tr>
            <tr><td>Overdue date</td><td>{{ optionalValue (formatDate overdueDate) }}</td></tr>
            <tr><td>Removal requested date</td><td>{{ optionalValue (formatDate removalRequestedDate) }}</td></tr>
            <tr><td>User ID</td><td>{{ optionalValue userId }}</td></tr>
            <tr><td>Name</td><td>{{ optionalValue name }}</td></tr>
            <tr><td>Email</td><td>{{ optionalValue email }}</td></tr>
            <tr><td>Statement status</td><td>{{ optionalValue statementStatus }}</td></tr>
            <tr><td>Last training month</td><td>{{ optionalValue lastTrainingMonth }}</td></tr>
            <tr><td>Last training year</td><td>{{ optionalValue lastTrainingYear }}</td></tr>
            <tr><td>Job start year</td><td>{{ optionalValue jobStartYear }}</td></tr>
            <tr><td>Staff ID</td><td>{{ optionalValue staffId }}</td></tr>
            <tr><td>In progress</td><td>{{ optionalValue inProgress }}</td></tr>
            <tr><td>Removal requested reason</td><td>{{ optionalValue removalRequestedReason }}</td></tr>
        </table>

        <h4>Statement amendments</h4>
        <br>
        {{#statementAmendments}}
            <table class="summary-list">
                <tr><td>ID</td><td>{{ optionalValue id }}</td></tr>
                <tr><td>Statement ID</td><td>{{ optionalValue statementId }}</td></tr>
                <tr><td>Additional comment</td><td>{{ optionalValue additionalComment }}</td></tr>
                <tr><td>Date submitted</td><td>{{ optionalValue (formatDate dateSubmitted) }}</td></tr>
                <tr><td>Deleted</td><td>{{ optionalValue (formatDate deleted) }}</td></tr>
            </table>
            <br>
        {{/statementAmendments}}
        <br>
    {{/statements}}
    <h3>End of information for use of force incident {{ optionalValue id }}</h3>
{{/.}}
