<h1>Restricted Patients</h1>
{{#.}}
    <br>
    <table class="summary-list">
        <tr><td>Discharge time</td><td>{{ formatDate dischargeTime }}</td></tr>
        <tr><td>Hospital location</td><td>{{ hospitalLocationDescription }}</td></tr>
        <tr><td>Supporting prison</td><td>{{ getPrisonName supportingPrisonId }}</td></tr>
    </table>
{{/.}}
{{^.}}
    <p>No data held</p>
{{/.}}
