<h1>Manage Adjudications</h1>
{{#.}}
    <table class="summary-list">
        <tr><td>Charge number</td><td>{{ optionalValue chargeNumber }}</td></tr>
        <tr><td>Prisoner number</td><td>{{ optionalValue prisonerNumber }}</td></tr>
        <tr><td>Gender</td><td>{{ optionalValue gender }}</td></tr>
        <tr><td>Youth offender</td><td>{{ optionalValue isYouthOffender }}</td></tr>
    </table>

    <h2>Incident details</h2>
    {{#incidentDetails}}
        <table class="summary-list">
            <tr><td>Location ID</td><td>{{ optionalValue locationId }}</td></tr>
            <tr><td>Date and time of incident</td><td>{{ optionalValue (formatDate dateTimeOfIncident) }}</td></tr>
            <tr><td>Date and time of discovery</td><td>{{ optionalValue (formatDate dateTimeOfDiscovery) }}</td></tr>
            <tr><td>Handover deadline</td><td>{{ optionalValue (formatDate handoverDeadline) }}</td></tr>
        </table>
    {{/incidentDetails}}

    {{#incidentRole}}
        <table class="summary-list">
            <tr><td>Incident role code</td><td>{{ optionalValue roleCode }}</td></tr>
            <tr><td>Associated prisoners number</td><td>{{ optionalValue associatedPrisonersNumber }}</td></tr>
        </table>
        {{#offenceRule}}
            <table class="summary-list">
                <tr><td>Paragraph number</td><td>{{ optionalValue paragraphNumber }}</td></tr>
                <tr><td>Description</td><td>{{ optionalValue paragraphDescription }}</td></tr>
            </table>
        {{/offenceRule}}
    {{/incidentRole}}

    <h2>Offence details</h2>
    {{#offenceDetails}}
        <table class="summary-list">
            <tr><td>Code</td><td>{{ optionalValue offenceCode }}</td></tr>
            <tr><td>Other victim's name</td><td>{{ optionalValue victimOtherPersonsName }}</td></tr>
            <h3>Offence rule</h3>
            {{#offenceRule}}
                <table class="summary-list">
                    <tr><td>Paragraph number</td><td>{{ optionalValue paragraphNumber }}</td></tr>
                    <tr><td>Description</td><td>{{ optionalValue paragraphDescription }}</td></tr>
                    <tr><td>Nomis code</td><td>{{ optionalValue nomisCode }}</td></tr>
                    <tr><td>With others Nomis code</td><td>{{ optionalValue withOthersNomisCode }}</td></tr>
                </table>
            {{/offenceRule}}
            <h3>Protected characteristics</h3>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Characteristic</td>
                    <td class="data-column-75">ID</td>
                </tr>
                {{#protectedCharacteristics}}
                    <tr>
                        <td>{{ optionalValue characteristic }}</td>
                        <td>{{ optionalValue id }}</td>
                    </tr>
                {{/protectedCharacteristics}}
                {{^protectedCharacteristics}}
                    <tr>
                        <td>No data held</td>
                        <td>No data held</td>
                    </tr>
                {{/protectedCharacteristics}}
            </table>
        </table>
    {{/offenceDetails}}

    <h2>Incident statement</h2>
    {{#incidentStatement}}
        <table class="summary-list">
            <tr><td>Statement</td><td>{{ optionalValue statement }}</td></tr>
            <tr><td>Completed</td><td>{{ optionalValue completed }}</td></tr>
        </table>
    {{/incidentStatement}}

    <h3>Creation details</h3>
        <table class="summary-list">
            <tr><td>Created by</td><td>{{ optionalValue createdByUserId }}</td></tr>
            <tr><td>Created on</td><td>{{ optionalValue (formatDate createdDateTime) }}</td></tr>
            <tr><td>Status</td><td>{{ optionalValue status }}</td></tr>
            <tr><td>Reviewed by</td><td>{{ optionalValue reviewedByUserId }}</td></tr>
            <tr><td>Status reason</td><td>{{ optionalValue statusReason }}</td></tr>
            <tr><td>Status details</td><td>{{ optionalValue statusDetails }}</td></tr>
        </table>


    <h2>Damages</h2>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Code</td>
            <td class="data-column-55">Details</td>
            <td class="data-column-20">Reporter</td>
        </tr>
        {{#damages}}
            <tr>
                <td>{{ optionalValue code }}</td>
                <td>{{ optionalValue details }}</td>
                <td>{{ optionalValue reporter }}</td>
            </tr>
        {{/damages}}
        {{^damages}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/damages}}
    </table>

    <h2>Evidence</h2>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Code</td>
            <td class="data-column-30">Identifier</td>
            <td class="data-column-25">Details</td>
            <td class="data-column-20">Reporter</td>
        </tr>
        {{#evidence}}
            <tr>
                <td>{{ optionalValue code }}</td>
                <td>{{ optionalValue identifier }}</td>
                <td>{{ optionalValue details }}</td>
                <td>{{ optionalValue reporter }}</td>
            </tr>
        {{/evidence}}
        {{^evidence}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/evidence}}
    </table>

    <h2>Witnesses</h2>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Code</td>
            <td class="data-column-30">First name</td>
            <td class="data-column-25">Last name</td>
            <td class="data-column-20">Reporter</td>
        </tr>
        {{#witnesses}}
            <tr>
                <td>{{ optionalValue code }}</td>
                <td>{{ optionalValue firstName }}</td>
                <td>{{ optionalValue lastName }}</td>
                <td>{{ optionalValue reporter }}</td>
            </tr>
        {{/witnesses}}
        {{^witnesses}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/witnesses}}
    </table>

    <h2>Hearings</h2>
    {{#hearings}}
        <table class="summary-list">
            <tr><td>Date and time of hearing</td><td>{{ optionalValue (formatDate dateTimeOfHearing) }}</td></tr>
            <tr><td>ID</td><td>{{ optionalValue id }}</td></tr>
            <tr><td>Location ID</td><td>{{ optionalValue locationId }}</td></tr>
            <tr><td>OIC hearing type</td><td>{{ optionalValue oicHearingType }}</td></tr>
            <tr><td>Agency ID</td><td>{{ optionalValue agencyId }}</td></tr>
        </table>
        <h3>Outcome</h3>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Plea</td>
                <td class="data-column-35">Adjudicator</td>
                <td class="data-column-20">ID</td>
                <td class="data-column-20">Code</td>
            </tr>
            {{#outcome}}
                <tr>
                    <td>{{ optionalValue plea }}</td>
                    <td>{{ optionalValue adjudicator }}</td>
                    <td>{{ optionalValue id }}</td>
                    <td>{{ optionalValue code }}</td>
                </tr>
            {{/outcome}}
            {{^outcome}}
                <tr>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                </tr>
            {{/outcome}}
        </table>
    {{/hearings}}

    <h2>DIS issue history</h2>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Issuing officer</td>
            <td class="data-column-25">Date and time of issue</td>
        </tr>
        {{#disIssueHistory}}
            <tr>
                <td>{{ optionalValue issuingOfficer }}</td>
                <td>{{ optionalValue (formatDate dateTimeOfIssue) }}</td>
            </tr>
        {{/disIssueHistory}}
        {{^disIssueHistory}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/disIssueHistory}}
    </table>

    <table class="summary-list">
        <tr><td>Date and time of first hearing</td><td>{{ optionalValue (formatDate dateTimeOfFirstHearing) }}</td></tr>
    </table>

    <h2>Outcomes</h2>
    {{#outcomes}}
        <h3>Hearing</h3>
        {{#hearing}}
            <table class="summary-list">
                <tr><td>Date and time of hearing</td><td>{{ optionalValue (formatDate dateTimeOfHearing) }}</td></tr>
                <tr><td>ID</td><td>{{ optionalValue id }}</td></tr>
                <tr><td>Location ID</td><td>{{ optionalValue locationId }}</td></tr>
                <tr><td>OIC hearing type</td><td>{{ optionalValue oicHearingType }}</td></tr>
                <tr><td>Agency ID</td><td>{{ optionalValue agencyId }}</td></tr>
            </table>
            <h3>Outcome</h3>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Plea</td>
                    <td class="data-column-25">Adjudicator</td>
                    <td class="data-column-75">ID</td>
                    <td class="data-column-75">Code</td>
                </tr>
                {{#outcome}}
                    <tr>
                        <td>{{ optionalValue plea }}</td>
                        <td>{{ optionalValue adjudicator }}</td>
                        <td>{{ optionalValue id }}</td>
                        <td>{{ optionalValue code }}</td>
                    </tr>
                {{/outcome}}
                {{^outcome}}
                    <tr>
                        <td>No data held</td>
                        <td>No data held</td>
                        <td>No data held</td>
                        <td>No data held</td>
                    </tr>
                {{/outcome}}
            </table>
        {{/hearing}}
        {{#outcome}}
            {{#outcome}}
                <table class="summary-list">
                    <tr><td>ID</td><td>{{ optionalValue id }}</td></tr>
                    <tr><td>Code</td><td>{{ optionalValue code }}</td></tr>
                    <tr><td>Removable</td><td>{{ optionalValue canRemove }}</td></tr>
                </table>
            {{/outcome}}
        {{/outcome}}
    {{/outcomes}}

    <h2>Punishments</h2>
    {{#punishments}}
        <h3>Punishment</h3>
        <table class="summary-list">
            <tr><td>Type</td><td>{{ optionalValue type }}</td></tr>
            <tr><td>ID</td><td>{{ optionalValue id }}</td></tr>
            <tr><td>Privilege type</td><td>{{ optionalValue privilegeType }}</td></tr>
            <tr><td>Percentage stopped</td><td>{{ optionalValue stoppedPercentage }}</td></tr>
            <tr><td>Activated by charge number</td><td>{{ optionalValue activatedByChargeNumber }}</td></tr>
            <tr><td>Suspended until</td><td>{{ optionalValue (formatDate suspendedUntil) }}</td></tr>
            <tr><td>Amount</td><td>{{ optionalValue amount }}</td></tr>
            <tr><td>Sanction sequence</td><td>{{ optionalValue sanctionSeq }}</td></tr>
            <tr><td>Deleted</td><td>{{ optionalValue deleted }}</td></tr>
            <tr><td>Consecutive to charge number</td><td>{{ optionalValue consecutiveToChargeNumber }}</td></tr>
            <tr><td>Nomis status</td><td>{{ optionalValue nomisStatus }}</td></tr>
            <tr><td>Actual created date</td><td>{{ optionalValue (formatDate actualCreatedDate) }}</td></tr>
            <tr><td>Payback notes</td><td>{{ optionalValue paybackNotes }}</td></tr>
            <tr><td>Rehab completed</td><td>{{ optionalValue rehabCompleted }}</td></tr>
            <tr><td>Rehab not completed outcome</td><td>{{ optionalValue rehabNotCompletedOutcome }}</td></tr>
        </table>

        <h3>Schedule</h3>
        <table class="data-table">
            <tr>
                <td class="data-column-15">ID</td>
                <td class="data-column-15">Duration</td>
                <td class="data-column-20">Measurement</td>
                <td class="data-column-15">Start date</td>
                <td class="data-column-15">End date</td>
                <td class="data-column-20">Suspend until</td>
            </tr>
            {{#schedule}}
                <tr>
                    <td>{{ optionalValue id }}</td>
                    <td>{{ optionalValue duration }}</td>
                    <td>{{ optionalValue measurement }}</td>
                    <td>{{ optionalValue (formatDate startDate) }}</td>
                    <td>{{ optionalValue (formatDate endDate) }}</td>
                    <td>{{ optionalValue suspendUntil }}</td>
                </tr>
            {{/schedule}}
            {{^schedule}}
                <tr>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                </tr>
            {{/schedule}}
        </table>

        <h3>Rehabilitative activities</h3>
        <table class="data-table">
            <tr>
                <td class="data-column-15">ID</td>
                <td class="data-column-15">Details</td>
                <td class="data-column-20">Monitor</td>
                <td class="data-column-15">Total sessions</td>
                <td class="data-column-15">End date</td>
                <td class="data-column-20">Completed</td>
            </tr>
            {{#rehabilitativeActivities}}
                <tr>
                    <td>{{ optionalValue id }}</td>
                    <td>{{ optionalValue details }}</td>
                    <td>{{ optionalValue monitor }}</td>
                    <td>{{ optionalValue totalSessions }}</td>
                    <td>{{ optionalValue (formatDate endDate) }}</td>
                    <td>{{ optionalValue completed }}</td>
                </tr>
            {{/rehabilitativeActivities}}
            {{^rehabilitativeActivities}}
                <tr>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                </tr>
            {{/rehabilitativeActivities}}
        </table>
    {{/punishments}}

    <h2>Punishment comments</h2>
    {{#punishmentComments}}
        <table class="summary-list">
            <tr><td>Comment</td><td>{{ optionalValue comment }}</td></tr>
            <tr><td>ID</td><td>{{ optionalValue id }}</td></tr>
            <tr><td>Reason for change</td><td>{{ optionalValue reasonForChange }}</td></tr>
            <tr><td>Nomis created by</td><td>{{ optionalValue nomisCreatedBy }}</td></tr>
            <tr><td>Actual created date</td><td>{{ optionalValue (formatDate actualCreatedDate) }}</td></tr>
        </table>
    {{/punishmentComments}}

    <table class="summary-list">
        <tr><td>Originating agency ID</td><td>{{ optionalValue originatingAgencyId }}</td></tr>
        <tr><td>Actionable from history</td><td>{{ optionalValue canActionFromHistory }}</td></tr>
        <tr><td>Linked charge numbers</td><td>{{ optionalValue linkedChargeNumbers }}</td></tr>
        <tr><td>Has the outcome been entered in Nomis</td><td>{{ optionalValue outcomeEnteredInNomis }}</td></tr>
    </table>
{{/.}}