<h1>Manage Key Worker</h1>
{{#.}}
    <h2>Keyworker</h2>
    <table class="summary-list">
        <tr><td>Assigned date</td><td>{{ optionalValue (formatDate assignedDateTime) }}</td></tr>
        <tr><td>Active</td><td>{{ convertBoolean active }}</td></tr>
        <tr><td>User</td><td>{{ getUserLastName userId }}</td></tr>
        <tr><td>Prison name</td><td>{{ getPrisonName prisonId }}</td></tr>
        <tr><td>Expiry date</td><td>{{ optionalValue (formatDate expiryDateTime) }}</td></tr>
        <tr><td>Deallocation reason</td><td>{{{ optionalValue deallocationReason }}}</td></tr>
        <tr><td>Creation date</td><td>{{ optionalValue (formatDate creationDateTime) }}</td></tr>
        <tr><td>Modified</td><td>{{{ optionalValue (formatDate modifyDateTime) }}}</td></tr>
    </table>
{{/.}}