<h1>Manage Adjudications</h1>
{{#.}}
    <table class="summary-list">
        <tr><td>Charge number</td><td>{{ optionalValue chargeNumber }}</td></tr>
        <tr><td>Prisoner number</td><td>{{ optionalValue prisonerNumber }}</td></tr>
        <tr><td>Gender</td><td>{{ optionalValue gender }}</td></tr>
        <tr><td>Youth offender</td><td>{{ optionalValue isYouthOffender }}</td></tr>
    </table>

    <h2>Incident details</h2>
    {{#incidentDetails}}
        <table class="summary-list">
            <tr><td>Location ID</td><td>{{ optionalValue locationId }}</td></tr>
            <tr><td>Date and time of incident</td><td>{{ optionalValue (formatDate dateTimeOfIncident) }}</td></tr>
            <tr><td>Date and time of discovery</td><td>{{ optionalValue (formatDate dateTimeOfDiscovery) }}</td></tr>
            <tr><td>Handover deadline</td><td>{{ optionalValue (formatDate handoverDeadline) }}</td></tr>
        </table>
    {{/incidentDetails}}

    {{#incidentRole}}
        <table class="summary-list">
            <tr><td>Incident role code</td><td>{{ optionalValue roleCode }}</td></tr>
            <tr><td>Associated prisoners number</td><td>{{ optionalValue associatedPrisonersNumber }}</td></tr>
        </table>
        {{#offenceRule}}
            <table class="summary-list">
                <tr><td>Paragraph number</td><td>{{ optionalValue paragraphNumber }}</td></tr>
                <tr><td>Description</td><td>{{ optionalValue paragraphDescription }}</td></tr>
            </table>
        {{/offenceRule}}
    {{/incidentRole}}

    <h2>Offence details</h2>
    {{#offenceDetails}}
        <table class="summary-list">
            <tr><td>Code</td><td>{{ optionalValue offenceCode }}</td></tr>
            <h3>Offence rule</h3>
            {{#offenceRule}}
                <table class="summary-list">
                    <tr><td>Paragraph number</td><td>{{ optionalValue paragraphNumber }}</td></tr>
                    <tr><td>Description</td><td>{{ optionalValue paragraphDescription }}</td></tr>
                    <tr><td>Nomis code</td><td>{{ optionalValue nomisCode }}</td></tr>
                    <tr><td>With others Nomis code</td><td>{{ optionalValue withOthersNomisCode }}</td></tr>
                </table>
            {{/offenceRule}}
            <h3>Protected characteristics</h3>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Characteristic</td>
                    <td class="data-column-75">ID</td>
                </tr>
                {{#protectedCharacteristics}}
                    <tr>
                        <td>{{ optionalValue characteristic }}</td>
                        <td>{{ optionalValue id }}</td>
                    </tr>
                {{/protectedCharacteristics}}
                {{^protectedCharacteristics}}
                    <tr>
                        <td>No data held</td>
                        <td>No data held</td>
                    </tr>
                {{/protectedCharacteristics}}
            <tr><td>Other victim's name</td><td>{{ optionalValue victimOtherPersonsName }}</td></tr>
            </table>
        </table>
    {{/offenceDetails}}

    <h2>Incident statement</h2>
    {{#incidentStatement}}
        <table class="summary-list">
            <tr><td>Statement</td><td>{{ optionalValue statement }}</td></tr>
            <tr><td>Is completed</td><td>{{ optionalValue completed }}</td></tr>
        </table>
    {{/incidentStatement}}

    <h3>Creation details</h3>
        <table class="summary-list">
            <tr><td>Created by</td><td>{{ optionalValue createdByUserId }}</td></tr>
            <tr><td>Created on</td><td>{{ optionalValue (formatDate createdDateTime) }}</td></tr>
            <tr><td>Status</td><td>{{ optionalValue status }}</td></tr>
            <tr><td>Reviewed by</td><td>{{ optionalValue reviewedByUserId }}</td></tr>
            <tr><td>Status reason</td><td>{{ optionalValue statusReason }}</td></tr>
            <tr><td>Status details</td><td>{{ optionalValue statusDetails }}</td></tr>
        </table>


    <h2>Damages</h2>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Code</td>
            <td class="data-column-75">Details</td>
            <td class="data-column-75">Reporter</td>
        </tr>
        {{#damages}}
            <tr>
                <td>{{ optionalValue code }}</td>
                <td>{{ optionalValue details }}</td>
                <td>{{ optionalValue reporter }}</td>
            </tr>
        {{/damages}}
        {{^damages}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/damages}}
    </table>

    <h2>Evidence</h2>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Code</td>
            <td class="data-column-25">Identifier</td>
            <td class="data-column-75">Details</td>
            <td class="data-column-75">Reporter</td>
        </tr>
        {{#evidence}}
            <tr>
                <td>{{ optionalValue code }}</td>
                <td>{{ optionalValue identifier }}</td>
                <td>{{ optionalValue details }}</td>
                <td>{{ optionalValue reporter }}</td>
            </tr>
        {{/evidence}}
        {{^evidence}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/evidence}}
    </table>

    <h2>Witnesses</h2>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Code</td>
            <td class="data-column-25">First name</td>
            <td class="data-column-75">Last name</td>
            <td class="data-column-75">Reporter</td>
        </tr>
        {{#witnesses}}
            <tr>
                <td>{{ optionalValue code }}</td>
                <td>{{ optionalValue firstName }}</td>
                <td>{{ optionalValue lastName }}</td>
                <td>{{ optionalValue reporter }}</td>
            </tr>
        {{/witnesses}}
        {{^witnesses}}
            <tr>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
                <td>No data held</td>
            </tr>
        {{/witnesses}}
    </table>

    <h2>Hearings</h2>
    {{#hearings}}
        <table class="summary-list">
            <tr><td>Date and time of hearing</td><td>{{ optionalValue (formatDate dateTimeOfHearing) }}</td></tr>
            <tr><td>ID</td><td>{{ optionalValue id }}</td></tr>
            <tr><td>Location ID</td><td>{{ optionalValue locationId }}</td></tr>
            <tr><td>OIC hearing type</td><td>{{ optionalValue oicHearingType }}</td></tr>
            <tr><td>Agency ID</td><td>{{ optionalValue agencyId }}</td></tr>
        </table>
        <h3>Outcome</h3>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Plea</td>
                <td class="data-column-25">Adjudicator</td>
                <td class="data-column-75">ID</td>
                <td class="data-column-75">Code</td>
            </tr>
            {{#outcome}}
                <tr>
                    <td>{{ optionalValue plea }}</td>
                    <td>{{ optionalValue adjudicator }}</td>
                    <td>{{ optionalValue id }}</td>
                    <td>{{ optionalValue code }}</td>
                </tr>
            {{/outcome}}
            {{^outcome}}
                <tr>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                    <td>No data held</td>
                </tr>
            {{/outcome}}
        </table>
    {{/hearings}}

{{/.}}