<h1>Non-associations</h1>
<br>
{{#.}}
    <table class="data-table">
        <tr>
            <td class="data-column-25">Prison name</td>
            <td class="data-column-25">Cell location</td>
            <td class="data-column-25">Open count</td>
            <td class="data-column-25">Closed count</td>
        </tr>
        <tr>
            <td>{{ getPrisonName prisonId }}</td>
            <td>{{ optionalValue cellLocation }}</td>
            <td>{{ optionalValue openCount }}</td>
            <td>{{ optionalValue closedCount }}</td>
        </tr>
    </table>

    {{#nonAssociations}}
        <br>
        <br>
        <h3>Non-association - ID {{ optionalValue id }}</h3>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Role</td>
                <td class="data-column-25">Reason</td>
                <td class="data-column-25">Restriction type</td>
            </tr>
            <tr>
                <td>{{ optionalValue roleDescription }}</td>
                <td>{{ optionalValue reasonDescription }}</td>
                <td>{{ optionalValue restrictionTypeDescription }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr><td>Comment</td></tr>
            <tr><td>{{ optionalValue comment }}</td></tr>
        </table>
        <br>
        <h4>Creation details</h4>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Authorised by</td>
                <td class="data-column-25">Date created</td>
                <td class="data-column-25">Updated by</td>
                <td class="data-column-25">Date updated</td>
            </tr>
            <tr>
                <td>{{ getUserLastName authorisedBy }}</td>
                <td>{{ optionalValue (formatDate whenCreated) }}</td>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate whenUpdated) }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Closed</td>
                <td class="data-column-25">Closed by</td>
                <td class="data-column-25">Reason closed</td>
                <td class="data-column-25">Closed at</td>
            </tr>
            <tr>
                <td>{{ convertBoolean isClosed }}</td>
                <td>{{ getUserLastName closedBy }}</td>
                <td>{{ optionalValue closedReason }}</td>
                <td>{{ optionalValue (formatDate closedAt) }}</td>
            </tr>
        </table>
        <br>
        <h4>Other prisoner details</h4>
        <br>
        {{#otherPrisonerDetails}}
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Prisoner number</td>
                    <td class="data-column-25">First name</td>
                    <td class="data-column-25">Last name</td>
                    <td class="data-column-25">Prison name</td>
                </tr>
                <tr>
                    <td>{{ optionalValue prisonerNumber }}</td>
                    <td>{{ optionalValue firstName }}</td>
                    <td>{{ optionalValue lastName }}</td>
                    <td>{{ getPrisonName prisonId }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-75">Cell location</td>
                </tr>
                <tr>
                    <td>{{ optionalValue cellLocation }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Role</td>
                </tr>
                <tr>
                    <td>{{ optionalValue roleDescription }}</td>
                </tr>
            </table>
        {{/otherPrisonerDetails}}
        {{^otherPrisonerDetails}}
            <p>No Data Held</p>
        {{/otherPrisonerDetails}}
    {{/nonAssociations}}
{{/.}}
{{^.}}
    <p>No data held</p>
{{/.}}