<h1>Create and vary a licence</h1>
{{#licences}}
    <h2>Licence</h2>
    <br>
    <table class="summary-list">
        <tr><td>Type</td><td>{{ optionalValue typeCode }}</td></tr>
        <tr><td>Status</td><td>{{ optionalValue statusCode }}</td></tr>
        <tr><td>Appointment person</td><td>{{ optionalValue appointmentPerson }}</td></tr>
        <tr><td>Appointment time</td><td>{{ optionalValue appointmentTime }}</td></tr>
        <tr><td>Appointment time type</td><td>{{ optionalValue appointmentTimeType }}</td></tr>
        <tr><td>Appointment address</td><td>{{ optionalValue appointmentAddress }}</td></tr>
        <tr><td>Appointment contact</td><td>{{ optionalValue appointmentContact }}</td></tr>
        <tr><td>Approved date</td><td>{{ optionalValue (formatDate approvedDate) }}</td></tr>
        <tr><td>Submitted date</td><td>{{ optionalValue (formatDate submittedDate) }}</td></tr>
        <tr><td>Superseded date</td><td>{{ optionalValue (formatDate supersededDate) }}</td></tr>
        <tr><td>Date created</td><td>{{ optionalValue (formatDate dateCreated) }}</td></tr>
        <tr><td>Date last updated</td><td>{{ optionalValue (formatDate dateLastUpdated) }}</td></tr>
        <tr><td>Licence Version</td><td>{{ optionalValue licenceVersion }}</td></tr>
    </table>
    <br>

    <h2>Standard licence conditions</h2>
    <br>
    <table class="data-table">
        <tr>
            <td class="data-column-100"></td>
        </tr>
        {{#standardLicenceConditions}}
            <tr>
                <td>{{ optionalValue text }}</td>
            </tr>
        {{/standardLicenceConditions}}
        {{^standardLicenceConditions}}
            <tr>
                <td>No data held</td>
            </tr>
        {{/standardLicenceConditions}}
    </table>
    <br>

    <h2>Standard post sentence supervision (PSS) conditions</h2>
    <br>
    <table class="data-table">
        <tr>
            <td class="data-column-100"></td>
        </tr>
        {{#standardPssConditions}}
            <tr>
                <td>{{ optionalValue text }}</td>
            </tr>
        {{/standardPssConditions}}
        {{^standardPssConditions}}
            <tr>
                <td>No Data Held</td>
            </tr>
        {{/standardPssConditions}}
    </table>

    {{#additionalLicenceConditions}}
        <br>
        <h2>Additional licence condition</h2>
        <br>
        <table class="summary-list">
            <tr><td>Category</td><td>{{ optionalValue category }}</td></tr>
            <tr><td>Expanded text</td><td>{{ optionalValue expandedText }}</td></tr>
        </table>
        <h3>Upload summary</h3>
        {{#uploadSummary}}
            <table class="summary-list">
                <tr><td>Filename</td><td>{{ optionalValue filename }}</td></tr>
                <tr><td>File type</td><td>{{ optionalValue fileType }}</td></tr>
                <tr><td>File size</td><td>{{ optionalValue fileSize }}</td></tr>
                <tr><td>Uploaded time</td><td>{{ optionalValue (formatDate uploadedTime) }}</td></tr>
                <tr><td>Description</td><td>{{ optionalValue description }}</td></tr>
            </table>
        {{/uploadSummary}}
        {{^uploadSummary}}
            <p>No Data Held</p>
        {{/uploadSummary}}
    {{/additionalLicenceConditions}}

    {{#additionalPssConditions}}
        <br>
        <h2>Additional PSS condition</h2>
        <br>
        <table class="summary-list">
            <tr><td>Category</td><td>{{ optionalValue category }}</td></tr>
            <tr><td>Expanded text</td><td>{{ optionalValue expandedText }}</td></tr>
        </table>
        <h3>Upload summary</h3>
        {{#uploadSummary}}
            <table class="summary-list">
                <tr><td>Filename</td><td>{{ optionalValue filename }}</td></tr>
                <tr><td>File type</td><td>{{ optionalValue fileType }}</td></tr>
                <tr><td>File size</td><td>{{ optionalValue fileSize }}</td></tr>
                <tr><td>Uploaded time</td><td>{{ optionalValue (formatDate uploadedTime) }}</td></tr>
                <tr><td>Description</td><td>{{ optionalValue description }}</td></tr>
            </table>
        {{/uploadSummary}}
        {{^uploadSummary}}
            <p>No Data Held</p>
        {{/uploadSummary}}
    {{/additionalPssConditions}}

    <br>
    <h2>Bespoke conditions</h2>
    <br>
    <table class="data-table">
        <tr><td></td></tr>
        {{#bespokeConditions}}
            <tr><td>{{ optionalValue . }}</td></tr>
        {{/bespokeConditions}}
        {{^bespokeConditions}}
            <tr><td>No Data Held</td></tr>
        {{/bespokeConditions}}
    </table>
{{/licences}}