<h1>Complexity of need</h1>
{{#.}}
    <table class="summary-list">
        <tr><td>Offender number</td><td>{{ optionalValue offenderNo }}</td></tr>
        <tr><td>Level</td><td>{{ optionalValue level }}</td></tr>
        <tr><td>Source system</td><td>{{ optionalValue sourceSystem }}</td></tr>
        <tr><td>Source user</td><td>{{ optionalValue sourceUser }}</td></tr>
        <tr><td>Notes</td><td>{{{ optionalValue notes }}}</td></tr>
        <tr><td>Creation timestamp</td><td>{{ optionalValue createdTimestamp }}</td></tr>
        <tr><td>Active</td><td>{{ optionalValue active }}</td></tr>
    </table>
{{/.}}