<h1>Manage Key Worker</h1>
{{#.}}
    <h2>Keyworker</h2>
    <table class="summary-list">
        <tr><td>Offender Keyworker ID</td><td>{{ optionalInt offenderKeyworkerId }}</td></tr>
        <tr><td>Offender number</td><td>{{ optionalString offenderNo }}</td></tr>
        <tr><td>Assigned date</td><td>{{ optionalString (formatDate assignedDateTime) }}</td></tr>
        <tr><td>Active</td><td>{{ optionalBool active }}</td></tr>
        <tr><td>Allocation reason</td><td>{{{ optionalString allocationReason }}}</td></tr>
        <tr><td>Allocation type</td><td>{{ optionalString allocationType }}</td></tr>
        <tr><td>User ID</td><td>{{ optionalString userId }}</td></tr>
        <tr><td>Prison ID</td><td>{{ optionalString prisonId }}</td></tr>
        <tr><td>Expiry date</td><td>{{ optionalString (formatDate expiryDateTime) }}</td></tr>
        <tr><td>Deallocation reason</td><td>{{{ optionalString deallocationReason }}}</td></tr>
        <tr><td>Creation date</td><td>{{ optionalString (formatDate creationDateTime) }}</td></tr>
        <tr><td>Create user ID</td><td>{{ optionalString createUserId }}</td></tr>
        <tr><td>Modified</td><td>{{{ optionalString (formatDate modifyDateTime) }}}</td></tr>
        <tr><td>Modified by</td><td>{{ optionalString modifyUserId }}</td></tr>
    </table>
{{/.}}