<h1>Complexity of need</h1>
{{#.}}
    <br>
    <h3>Offender number {{ optionalValue offenderNo }}</h3>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Level</td>
            <td class="data-column-25">Source system</td>
            <td class="data-column-50">Source user</td>
        </tr>
        <tr>
            <td>{{ optionalValue level }}</td>
            <td>{{ optionalValue sourceSystem }}</td>
            <td>{{ optionalValue sourceUser }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Active</td>
            <td class="data-column-25">Creation timestamp</td>
            <td class="data-column-50">Notes</td>
        </tr>
        <tr>
            <td>{{ optionalValue active }}</td>
            <td>{{ optionalValue (formatDate createdTimestamp) }}</td>
            <td>{{ optionalValue notes }}</td>
        </tr>
    </table>
{{/.}}