<h1>Use of force</h1>
{{#.}}
    <h2>Incident of use of force</h2>
    <br>
    <table class="data-table">
        <tr>
            <td class="data-column-50">Incident date</td>
            <td class="data-column-50">Date submitted</td>
        </tr>
        <tr>
            <td>{{ optionalValue (formatDate incidentDate)}}</td>
            <td>{{ optionalValue (formatDate submittedDate) }}</td>
            <td></td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-25">Status</td>
            <td class="data-column-25">Agency ID</td>
            <td class="data-column-25">Reporter name</td>
            <td class="data-column-25"></td>
        </tr>
        <tr>
            <td>{{ optionalValue status }}</td>
            <td>{{ optionalValue agencyId }}</td>
            <td>{{ getUserLastName userId }}</td>
            <td></td>
        </tr>
    </table>

    <br>
    <h2>Form response</h2>
    {{#formResponse}}
        <h4>Evidence</h4>
        <br>
        {{#evidence}}
        <table class="data-table">
            <tr>
                <td>CCTV recording</td>
                <td>Bagged evidence</td>
                <td>Body-worn camera</td>
                <td>Photographs taken</td>
            </tr>
        <tr>
            <td>{{ optionalValue cctvRecording }}</td>
            <td>{{ convertBoolean baggedEvidence }}</td>
            <td>{{ optionalValue bodyWornCamera }}</td>
            <td>{{ convertBoolean photographsTaken }}</td>
        </tr>
        </table>
            <br>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Evidence tag reference</td>
                    <td class="data-column-75">Description</td>
                </tr>
                {{#evidenceTagAndDescription}}
                    <tr>
                        <td>{{ optionalValue evidenceTagReference }}</td>
                        <td>{{ optionalValue description }}</td>
                    </tr>
                {{/evidenceTagAndDescription}}
                {{^evidenceTagAndDescription}}
                    <tr>
                        <td>No Data Held</td>
                        <td>No Data Held</td>
                    </tr>
                {{/evidenceTagAndDescription}}
            </table>
        {{/evidence}}
        {{^evidence}}
            <p>No Data Held</p>
        {{/evidence}}
        <br>
        <h4>Involved staff</h4>
         {{#involvedStaff}}
             <table class="data-table">
                 <tr>
                     <td class="data-column-50">Name</td>
                     <td class="data-column-50">Prison name</td>
                 </tr>
                 <tr>
                     <td>{{ getUserLastName username }}</td>
                     <td>{{ getPrisonName activeCaseLoadId }}</td>
                 </tr>
             </table>
         {{/involvedStaff}}
         {{^involvedStaff}}
             <p>No Data Held</p>
         {{/involvedStaff}}

        <h4>Incident details</h4>
        <br>
           {{#incidentDetails}}
           <table class="summary-list">
               <tr><td>Location</td><td>{{#incidentLocationId}}{{ getLocationNameByDpsId . }}{{/incidentLocationId}}{{^incidentLocationId}}{{ getLocationNameByNomisId locationId }}{{/incidentLocationId}}</td></tr>
               <tr><td>Planned use of force</td><td>{{ convertBoolean plannedUseOfForce }}</td></tr>
               <tr><td>Authorised by</td><td>{{ optionalValue authorisedBy }}</td></tr>
               <tr>
                   <td>Witnesses</td>
                   <td><ul>{{#witnesses}}<li>{{ optionalValue name }}</li>{{/witnesses}}</ul>{{^witnesses}}No Data Held{{/witnesses}}</td>
               </tr>
           </table>
           {{/incidentDetails}}
           {{^incidentDetails}}
               <p>No Data Held</p>
           {{/incidentDetails}}

        <br>
        <h4>Use of force details</h4>
        <br>
         {{#useOfForceDetails}}
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Body-worn camera</td>
                     <td class="data-column-50">Body-worn camera numbers</td>
                     <td class="data-column-25">Handcuffs applied</td>
                 </tr>
                 <tr>
                     <td>{{ optionalValue bodyWornCamera }}</td>
                     <td>{{#bodyWornCameraNumbers}}{{ optionalValue cameraNum }}{{/bodyWornCameraNumbers}}{{^bodyWornCameraNumbers}}No Data Held{{/bodyWornCameraNumbers}}</td>
                     <td>{{ convertBoolean handcuffsApplied }}</td>
                 </tr>
             </table>
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Pava drawn</td>
                     <td class="data-column-25">Pava used</td>
                     <td class="data-column-25">Baton drawn</td>
                     <td class="data-column-25">Baton used</td>
                 </tr>
                 <tr>
                     <td>{{ convertBoolean pavaDrawn }}</td>
                     <td>{{ convertBoolean pavaUsed }}</td>
                     <td>{{ convertBoolean batonDrawn }}</td>
                     <td>{{ convertBoolean batonUsed }}</td>
                 </tr>
             </table>
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Pain inducing techniques</td>
                     <td class="data-column-50">Pain inducing techniques used</td>
                     <td class="data-column-25">Personal protection techniques</td>
                 </tr>
                 <tr>
                     <td>{{ convertBoolean painInducingTechniques }}</td>
                     <td>{{ optionalValue painInducingTechniquesUsed }}</td>
                     <td>{{ convertBoolean personalProtectionTechniques }}</td>
                 </tr>
             </table>
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Positive communication</td>
                     <td class="data-column-50">Weapons observed</td>
                     <td class="data-column-25">Weapon types</td>
                 </tr>
                 <tr>
                     <td>{{ convertBoolean positiveCommunication }}</td>
                     <td>{{ optionalValue weaponsObserved }}</td>
                     <td>{{#weaponTypes}}{{ optionalValue weaponType }}{{/weaponTypes}}{{^weaponTypes}}No Data Held{{/weaponTypes}}</td>
                 </tr>
             </table>
             <table class="data-table">
                 <tr>
                     <td class="data-column-25">Guiding hold</td>
                     <td class="data-column-25">Escorting hold</td>
                     <td class="data-column-50">Restraint positions</td>
                 </tr>
                 <tr>
                     <td>{{ convertBoolean guidingHold }}</td>
                     <td>{{ convertBoolean escortingHold }}</td>
                     <td>{{#restraintPositions}}<li>{{ optionalValue . }}</li>{{/restraintPositions}}{{^restraintPositions}}No Data Held{{/restraintPositions}}</td>
                 </tr>
             </table>
        {{/useOfForceDetails}}
        {{^useOfForceDetails}}
            <p>No Data Held</p>
        {{/useOfForceDetails}}

        <br>
        <h4>Reasons for use of force</h4>
        <br>
        {{#reasonsForUseOfForce}}
            <table class="summary-list">
                <tr><td>Reasons</td><td><ul>{{#reasons}}<li>{{ optionalValue . }}</li>{{/reasons}}</ul></td></tr>
                <tr><td>Primary Reason (if more than one)</td><td>{{ optionalValue primaryReason }}</td></tr>
            </table>
        {{/reasonsForUseOfForce}}
        {{^reasonsForUseOfForce}}
            <p>No Data Held</p>
        {{/reasonsForUseOfForce}}

        <br>
        <h4>Relocation and injuries</h4>
        <br>
        {{#relocationAndInjuries}}
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Relocation type</td>
                    <td class="data-column-25">F213 completed by</td>
                    <td class="data-column-25">Prisoner injuries</td>
                    <td class="data-column-25">Healthcare involved</td>
                </tr>
                <tr>
                    <td>{{ optionalValue relocationType }}</td>
                    <td>{{ optionalValue f213CompletedBy }}</td>
                    <td>{{ convertBoolean prisonerInjuries }}</td>
                    <td>{{ convertBoolean healthcareInvolved }}</td>

                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Healthcare practioner name</td>
                    <td class="data-column-25">Was the prisoner compliant?</td>
                    <td class="data-column-25">Staff medical attention</td>
                    <td class="data-column-25">Prisoner hospitalisation</td>
                </tr>
                <tr>
                    <td>{{ optionalValue healthcarePractionerName }}</td>
                    <td>{{ convertBoolean relocationCompliancy }}</td>
                    <td>{{ convertBoolean staffMedicalAttention }}</td>
                    <td>{{ convertBoolean prisonerHospitalisation }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-50">Prisoner relocation</td>
                    <td class="data-column-50">Other relocation type</td>
                </tr>
                <tr>
                    <td>{{ optionalValue prisonerRelocation }}</td>
                    <td>{{ optionalValue userSpecifiedRelocationType }}</td>
                </tr>
            </table>
        {{/relocationAndInjuries}}
        {{^relocationAndInjuries}}
            <p>No Data Held</p>
        {{/relocationAndInjuries}}
    {{/formResponse}}

    <h2>Statements</h2>
    {{#statements}}
        <h4>Statement {{ optionalValue id }}</h4>
        <table class="data-table">
            <tr><td>Statement</td></tr><tr><td>{{ optionalValue statement }}</td></tr>
        </table>
        <table class="summary-list">
            <tr><td>Created date</td><td>{{ optionalValue (formatDate createdDate) }}</td></tr>
            <tr><td>Updated date</td><td>{{ optionalValue (formatDate updatedDate) }}</td></tr>
            <tr><td>Submitted date</td><td>{{ optionalValue (formatDate submittedDate) }}</td></tr>
            <tr><td>Name</td><td>{{ getUserLastName userId }}</td></tr>
            <tr><td>Statement status</td><td>{{ optionalValue statementStatus }}</td></tr>
        </table>

        <h4>Statement amendments</h4>
        <br>
        {{#statementAmendments}}
            <table class="summary-list">
                <tr><td>Statement ID</td><td>{{ optionalValue statementId }}</td></tr>
                <tr><td>Additional comment</td><td>{{ optionalValue additionalComment }}</td></tr>
                <tr><td>Date submitted</td><td>{{ optionalValue (formatDate dateSubmitted) }}</td></tr>
            </table>
            <br>
        {{/statementAmendments}}
        {{^statementAmendments}}
            <p>No Data Held</p>
        {{/statementAmendments}}
        <br>
    {{/statements}}
    {{^statements}}
        <p>No Data Held</p>
    {{/statements}}
    <h3>End of information for use of force incident {{ optionalValue id }}</h3>
{{/.}}
