<!-- The following keys (in content > categorisationTool > catForm > risk_profile) have been left out of this template because they appear to be redacted: -->
<!-- - history -->
<!-- - offences -->
<!-- - socProfile -->
<!-- - extremismProfile -->

<h1>Prisoner categorisation</h1>


