<h1>Home Detention Curfew</h1>
{{#.}}
    <h2>Licences</h2>
    {{#licences}}
        <h3>Licence</h3>
        <table class="data-table">
            <tr>
                <td class="data-column-25">ID</td>
                <td class="data-column-25">Prison number</td>
                <td class="data-column-25">Booking ID</td>
                <td class="data-column-25"></td>
            </tr>
            <tr>
                <td>{{ optionalValue id }}</td>
                <td>{{ optionalValue prisonNumber }}</td>
                <td>{{ optionalValue bookingId }}</td>
                <td></td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Stage</td>
                <td class="data-column-25">Version</td>
                <td class="data-column-25">Transition date</td>
                <td class="data-column-25"></td>
            </tr>
            <tr>
                <td>{{ optionalValue stage }}</td>
                <td>{{ optionalValue version }}</td>
                <td>{{ optionalValue (formatDate transitionDate) }}</td>
                <td></td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Vary version</td>
                <td class="data-column-25">Additional conditions version</td>
                <td class="data-column-25">Standard conditions version</td>
                <td class="data-column-25">Deleted at</td>
            </tr>
            <tr>
                <td>{{ optionalValue varyVersion }}</td>
                <td>{{ optionalValue additionalConditionsVersion }}</td>
                <td>{{ optionalValue standardConditionsVersion }}</td>
                <td>{{ optionalValue (formatDate deletedAt) }}</td>
            </tr>
        </table>

        {{#licence}}
            <br>
            <h4>Licence eligibility</h4>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">CRD time</td>
                    <td class="data-column-25">Excluded</td>
                    <td class="data-column-25">Suitability</td>
                    <td class="data-column-25"></td>
                </tr>
                {{#eligibility}}
                <tr>
                    {{#crdTime}}
                        <td>{{ optionalValue decision }}</td>
                    {{/crdTime}}
                    {{#excluded}}
                        <td>{{ optionalValue decision }}</td>
                    {{/excluded}}
                    {{#suitability}}
                        <td>{{ optionalValue decision }}</td>
                    {{/suitability}}
                        <td></td>
                </tr>
                {{/eligibility}}
            </table>

            {{#bassReferral}}
                <br>
                <h4>Bass referral: Bass request</h4>
                {{#bassRequest}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Specific area</td>
                            <td class="data-column-25">Bass requested</td>
                            <td class="data-column-50">Additional information</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue specificArea }}</td>
                            <td>{{ optionalValue bassRequested }}</td>
                            <td>{{ optionalValue additionalInformation }}</td>
                        </tr>
                    </table>
                {{/bassRequest}}
            {{/bassReferral}}

            <br>
            <h4>Proposed address</h4>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Opt out</td>
                    <td class="data-column-75">Address proposed</td>
                </tr>
                {{#proposedAddress}}
                    <tr>
                        {{#optOut}}
                            <td>{{ optionalValue decision }}</td>
                        {{/optOut}}
                        {{#addressProposed}}
                            <td>{{ optionalValue decision }}</td>
                        {{/addressProposed}}
                    </tr>
                {{/proposedAddress}}
            </table>
        {{/licence}}

    {{/licences}}

    <br>
    <h2>Licence versions</h2>
    {{#licenceVersions}}
        <h3>Licence version</h3>
        <table class="data-table">
            <tr>
                <td class="data-column-25">ID</td>
                <td class="data-column-25">Prison number</td>
                <td class="data-column-25">Booking ID</td>
                <td class="data-column-25">Timestamp</td>
            </tr>
            <tr>
                <td>{{ optionalValue id }}</td>
                <td>{{ optionalValue prisonNumber }}</td>
                <td>{{ optionalValue bookingId }}</td>
                <td>{{ optionalValue (formatDate timestamp) }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Version</td>
                <td class="data-column-25">Template</td>
                <td class="data-column-25">Vary version</td>
                <td class="data-column-25">Deleted at</td>
            </tr>
            <tr>
                <td>{{ optionalValue version }}</td>
                <td>{{ optionalValue template }}</td>
                <td>{{ optionalValue varyVersion }}</td>
                <td>{{ optionalValue (formatDate deletedAt) }}</td>
            </tr>
        </table>
        <br>
        <h4>Licence: Risk management</h4>
        <br>
        {{#licence}}
            {{#risk}}
                {{#riskManagement}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Version</td>
                            <td class="data-column-25">EMS information</td>
                            <td class="data-column-50">EMS information details</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue version }}</td>
                            <td>{{ optionalValue emsInformation }}</td>
                            <td>{{ optionalValue emsInformationDetails }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Has considered checks</td>
                            <td class="data-column-25">Awaiting other information</td>
                            <td class="data-column-50">Risk management details</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue hasConsideredChecks }}</td>
                            <td>{{ optionalValue awaitingOtherInformation }}</td>
                            <td>{{ optionalValue riskManagementDetails }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">POM consultation</td>
                            <td class="data-column-25">Non-disclosable information</td>
                            <td class="data-column-50">Non-disclosable information details</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue pomConsultation }}</td>
                            <td>{{ optionalValue nonDisclosableInformation }}</td>
                            <td>{{ optionalValue nonDisclosableInformationDetails }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Mental health plan</td>
                            <td class="data-column-25">Proposed address suitable</td>
                            <td class="data-column-50">Unsuitable reason</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue mentalHealthPlan }}</td>
                            <td>{{ optionalValue proposedAddressSuitable }}</td>
                            <td>{{ optionalValue unsuitableReason }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Manage in the community</td>
                            <td class="data-column-50">Manage in the community not possible reason</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue manageInTheCommunity }}</td>
                            <td>{{ optionalValue manageInTheCommunityNotPossibleReason }}</td>
                            <td></td>
                        </tr>
                    </table>
                {{/riskManagement}}
            {{/risk}}

            {{#curfew}}
                <br>
                <h4>Curfew</h4>
                <br>
                {{#firstNight}}
                    <table class="summary-list">
                        <tr><td>First night from</td><td>{{ optionalValue (formatDate firstNightFrom) }}</td></tr>
                        <tr><td>First night until</td><td>{{ optionalValue (formatDate firstNightUntil) }}</td></tr>
                    </table>
                {{/firstNight}}
                {{#curfewHours}}
                    <br>
                    <h5>Curfew hours</h5>
                    <br>
                    <table class="summary-list">
                        <tr><td>All from</td><td>{{ optionalValue (formatDate allFrom) }}</td></tr>
                        <tr><td>All until</td><td>{{ optionalValue (formatDate allUntil) }}</td></tr>
                        <tr><td>First night from</td><td>{{ optionalValue (formatDate firstNightFrom) }}</td></tr>
                        <tr><td>Day specific inputs</td><td>{{ optionalValue (formatDate daySpecificInputs) }}</td></tr>
                    </table>
                    <br>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-15">Monday from</td>
                            <td class="data-column-15">Tuesday from</td>
                            <td class="data-column-20">Wednesday from</td>
                            <td class="data-column-15">Thursday from</td>
                            <td class="data-column-15">Friday from</td>
                            <td class="data-column-15">Saturday from</td>
                            <td class="data-column-15">Sunday from</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue mondayFrom }}</td>
                            <td>{{ optionalValue tuesdayFrom }}</td>
                            <td>{{ optionalValue wednesdayFrom }}</td>
                            <td>{{ optionalValue thursdayFrom }}</td>
                            <td>{{ optionalValue fridayFrom }}</td>
                            <td>{{ optionalValue saturdayFrom }}</td>
                            <td>{{ optionalValue sundayFrom }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-15">Monday until</td>
                            <td class="data-column-15">Tuesday until</td>
                            <td class="data-column-20">Wednesday until</td>
                            <td class="data-column-15">Thursday until</td>
                            <td class="data-column-15">Friday until</td>
                            <td class="data-column-15">Saturday until</td>
                            <td class="data-column-15">Sunday until</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue mondayUntil }}</td>
                            <td>{{ optionalValue tuesdayUntil }}</td>
                            <td>{{ optionalValue wednesdayUntil }}</td>
                            <td>{{ optionalValue thursdayUntil }}</td>
                            <td>{{ optionalValue fridayUntil }}</td>
                            <td>{{ optionalValue saturdayUntil }}</td>
                            <td>{{ optionalValue sundayUntil }}</td>
                        </tr>
                    </table>
                {{/curfewHours}}
            {{/curfew}}

            {{#victim}}
                {{#victimLiaison}}
                    <br>
                    <h4>Victim Liaison</h4>
                    <table class="summary-list">
                        <tr><td>Decision</td><td>{{ optionalValue decision }}</td></tr>
                    </table>
                {{/victimLiaison}}
            {{/victim}}

            {{#approval}}
                {{#release}}
                    <br>
                    <h4>Approval: Release</h4>
                    <table class="summary-list">
                        <tr><td>Decision</td><td>{{ optionalValue decision }}</td></tr>
                        <tr><td>Decision maker</td><td>{{ optionalValue decisionMaker }}</td></tr>
                        <tr><td>Reason for decision</td><td>{{ optionalValue reasonForDecision }}</td></tr>
                    </table>
                {{/release}}
                {{#consideration}}
                    <h4>Approval: Consideration</h4>
                    <table class="summary-list">
                        <tr><td>Decision</td><td>{{ optionalValue decision }}</td></tr>
                    </table>
                {{/consideration}}
            {{/approval}}

            {{#document}}
                {{#template}}
                    <h4>Document Template</h4>
                    <table class="summary-list">
                        <tr><td>Decision</td><td>{{ optionalValue decision }}</td></tr>
                        <tr><td>Offence committed before Feb 2015</td><td>{{ optionalValue offenceCommittedBeforeFeb2015 }}</td></tr>
                    </table>
                {{/template}}
            {{/document}}

            {{#reporting}}
                {{#reportingInstructions}}
                    <br>
                    <h4>Reporting instructions</h4>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Name</td>
                            <td class="data-column-25">Telephone</td>
                            <td class="data-column-50">Organisation</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue name }}</td>
                            <td>{{ optionalValue telephone }}</td>
                            <td>{{ optionalValue organisation }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Building and street 1</td>
                            <td class="data-column-25">Town/city</td>
                            <td class="data-column-50">Reporting date</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue buildingAndStreet1 }}</td>
                            <td>{{ optionalValue (formatDate reportingDate) }}</td>
                            <td>{{ optionalValue townOrCity }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Building and street 2</td>
                            <td class="data-column-25">Postcode</td>
                            <td class="data-column-50">Reporting time</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue buildingAndStreet2 }}</td>
                            <td>{{ optionalValue postcode }}</td>
                            <td>{{ optionalValue (formatDate reportingTime) }}</td>
                        </tr>
                    </table>
                {{/reportingInstructions}}
            {{/reporting}}

            <br>
            <h4>Licence eligibility</h4>
            <br>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">CRD time</td>
                    <td class="data-column-25">Excluded</td>
                    <td class="data-column-25">Suitability</td>
                    <td class="data-column-25"></td>
                </tr>
                {{#eligibility}}
                    <tr>
                        {{#crdTime}}
                            <td>{{ optionalValue decision }}</td>
                        {{/crdTime}}
                        {{#excluded}}
                            <td>{{ optionalValue decision }}</td>
                        {{/excluded}}
                        {{#suitability}}
                            <td>{{ optionalValue decision }}</td>
                        {{/suitability}}
                        <td></td>
                    </tr>
                {{/eligibility}}
            </table>

            <br>
            <h4>Final checks</h4>
            <br>
            <table class="data-table">
                <tr>
                    <td class="data-column-20">On remand</td>
                    <td class="data-column-20">Segregation</td>
                    <td class="data-column-20">Serious offence</td>
                    <td class="data-column-20">Confiscation order</td>
                    <td class="data-column-20">Unduly lenient sentence</td>
                </tr>
                {{#finalChecks}}
                <tr>
                {{#onRemand}}
                    <td>{{ optionalValue decision }}</td>
                {{/onRemand}}
                {{#segregation}}
                    <td>{{ optionalValue decision }}</td>
                {{/segregation}}
                {{#seriousOffence}}
                    <td>{{ optionalValue decision }}</td>
                {{/seriousOffence}}
                {{#confiscationOrder}}
                    <td>{{ optionalValue decision }}</td>
                {{/confiscationOrder}}
                {{#undulyLenientSentence}}
                    <td>{{ optionalValue decision }}</td>
                {{/undulyLenientSentence}}
                </tr>
                {{/finalChecks}}
            </table>

            {{#bassReferral}}
                {{#bassOffer}}
                    <br>
                    <h4>Bass referral: Bass offer</h4>
                    <br>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Bass area</td>
                            <td class="data-column-25">Telephone</td>
                            <td class="data-column-25">Bass accepted</td>
                            <td class="data-column-25">Bass offer details</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue bassArea }}</td>
                            <td>{{ optionalValue telephone }}</td>
                            <td>{{ optionalValue bassAccepted }}</td>
                            <td>{{ optionalValue bassOfferDetails }}</td>
                        </tr>
                    </table>
                    <br>
                    <h5>Address</h5>
                    <br>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Address line 1</td>
                            <td class="data-column-25">Address line 2</td>
                            <td class="data-column-25">Address town</td>
                            <td class="data-column-25">Postcode</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue addressLine1 }}</td>
                            <td>{{ optionalValue addressLine2 }}</td>
                            <td>{{ optionalValue addressTown }}</td>
                            <td>{{ optionalValue postCode }}</td>
                        </tr>
                    </table>
                {{/bassOffer}}
                <br>
                <h4>Bass referral: Bass request</h4>
                <br>
                {{#bassRequest}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Specific area</td>
                            <td class="data-column-25">Bass requested</td>
                            <td class="data-column-50">Additional information</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue specificArea }}</td>
                            <td>{{ optionalValue bassRequested }}</td>
                            <td>{{ optionalValue additionalInformation }}</td>
                        </tr>
                    </table>
                {{/bassRequest}}
                {{#bassAreaCheck}}
                    <br>
                    <h4>Bass area check</h4>
                    <br>
                    <table class="summary-list">
                        <tr><td>Bass area reason</td><td>{{ optionalValue bassAreaReason }}</td></tr>
                        <tr><td>Bass area check seen</td><td>{{ optionalValue bassAreaCheckSeen }}</td></tr>
                        <tr><td>Approved premises required (Y/N)</td><td>{{ optionalValue approvedPremisesRequiredYesNo }}</td></tr>
                    </table>
                {{/bassAreaCheck}}
            {{/bassReferral}}

            <br>
            <h4>Proposed address</h4>
            <br>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Opt out</td>
                    <td class="data-column-75">Address proposed</td>
                </tr>
                {{#proposedAddress}}
                    <tr>
                    {{#optOut}}
                            <td>{{ optionalValue decision }}</td>
                    {{/optOut}}
                    {{#addressProposed}}
                            <td>{{ optionalValue decision }}</td>
                    {{/addressProposed}}
                    </tr>
                {{/proposedAddress}}
            </table>

            {{#licenceConditions}}
                <br>
                <h4>Licence conditions</h4>
                {{#standard}}
                    <h4>Standard</h4>
                    <table class="summary-list">
                        <tr><td>Additional conditions required</td><td>{{ optionalValue additionalConditionsRequired }}</td></tr>
                    </table>
                {{/standard}}
            {{/licenceConditions}}

        {{/licence}}
    {{/licenceVersions}}

    <br>
    <br>
    <h2>Audit events</h2>
    {{#auditEvents}}
        <h3>Audit event</h3>
        <br>
        <table class="summary-list">
            <tr><td>ID</td><td>{{ optionalValue id }}</td></tr>
            <tr><td>Timestamp</td><td>{{ optionalValue (formatDate timestamp) }}</td></tr>
            <tr><td>User</td><td>{{ optionalValue user }}</td></tr>
            <tr><td>Action</td><td>{{ optionalValue action }}</td></tr>
        {{#details}}
            <tr><td>Path</td><td>{{ optionalValue path }}</td></tr>
            <tr><td>Booking ID</td><td>{{ optionalValue bookingId }}</td></tr>
        {{#userInput}}
            <tr><td>User input required</td><td>{{ optionalValue required }}</td></tr>
        {{/userInput}}
        {{/details}}
        </table>
    {{/auditEvents}}
{{/.}}