<h1>Approved Premises</h1>
{{#.}}
    <h2>Short term accommodation</h2>
    {{#ShortTermAccommodation}}

        <h3>Status update details</h3>
        {{#StatusUpdateDetails}}
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Status Label</td>
                    <td class="data-column-25">Created at</td>
                    <td class="data-column-25">Detail Label</td>
                    <td class="data-column-25">Case Reference Number</td>
                </tr>
                <tr>
                    <td>{{ optionalValue status_label }}</td>
                    <td>{{ optionalValue (formatDate created_at) }}</td>
                    <td>{{ optionalValue detail_label }}</td>
                    <td>{{ optionalValue crn }}</td>
                </tr>
            </table>
        {{/StatusUpdateDetails}}
        {{^StatusUpdateDetails}}
            <p>No Data Held</p>
        {{/StatusUpdateDetails}}

        <h3>Applications</h3>
        {{#Applications}}
            <h4>Application</h4>
            <br/>
            <table class="summary-list">
                <tr><td>Submitted at</td><td>{{ optionalValue (formatDate submitted_at) }}</td></tr>
                <tr><td>Conditional release date</td><td>{{ optionalValue (formatDate conditional_release_date) }}</td></tr>
                <tr><td>Created at</td><td>{{ optionalValue (formatDate created_at) }}</td></tr>
                <tr><td>Referring prison code</td><td>{{ getPrisonName referring_prison_code }}</td></tr>
                <tr><td>Preferred areas</td><td>{{ optionalValue preferred_areas }}</td></tr>
                <tr><td>Home Detention Curfew eligibility date</td><td>{{ optionalValue (formatDate hdc_eligibility_date) }}</td></tr>
            </table>

            <h5>Address History</h5>
            {{#data.address-history.previous-address}}
                <table class="data-table">
                    <tr>
                        <td class="data-column-50">Previous address line 1</td>
                        <td class="data-column-50">Previous address line 2</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue previousAddressLine1 }}</td>
                        <td>{{ optionalValue previousAddressLine2 }}</td>
                    </tr>
                </table>
                <table class="data-table">
                    <tr>
                        <td class="data-column-30">Previous town or city</td>
                        <td class="data-column-30">Previous county</td>
                        <td class="data-column-30">Previous postcode</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue previousTownOrCity }}</td>
                        <td>{{ optionalValue previousCounty }}</td>
                        <td>{{ optionalValue previousPostcode }}</td>
                    </tr>
                </table>
            {{/data.address-history.previous-address}}
            {{^data.address-history.previous-address}}
                <p>No Data Held</p>
            {{/data.address-history.previous-address}}

            <h5>Offending history</h5>
            {{#data.offending-history}}
                <table class="summary-list">
                    <tr><td>Has any previous convictions</td><td>{{ optionalValue any-previous-convictions.hasAnyPreviousConvictions }}</td></tr>
                </table>
                <p><b>Offence history</b></p>
                {{#offence-history-data}}
                    <p><b>Offence</b></p>
                    <table class="summary-list">
                        <tr><td>Title</td><td>{{ optionalValue titleAndNumber }}</td></tr>
                        <tr><td>Offence date</td><td>{{ buildDate offenceDate-year offenceDate-month offenceDate-day }}</td></tr>
                        <tr><td>Offence category</td><td>{{ optionalValue offenceCategory }}</td></tr>
                        <tr><td>Sentence length</td><td>{{ optionalValue sentenceLength }}</td></tr>
                        <tr><td>Summary</td><td>{{ optionalValue summary }}</td></tr>
                    </table>
                {{/offence-history-data}}
                {{^offence-history-data}}
                    <p>No Data Held</p>
                {{/offence-history-data}}
            {{/data.offending-history}}
            {{^data.offending-history}}
                <p>No Data Held</p>
            {{/data.offending-history}}

            <h5>Risk to self</h5>
            {{#data.risk-to-self}}

                <p><b>Historical risk</b></p>
                {{#historical-risk}}
                    <table class="summary-list">
                        <tr><td>Historical risk detail</td><td>{{ optionalValue historicalRiskDetail }}</td></tr>
                        <tr><td>Confirmation</td><td>{{ optionalValue confirmation }}</td></tr>
                    </table>
                {{/historical-risk}}
                {{^historical-risk}}
                    <p>No Data Held</p>
                {{/historical-risk}}

                <p><b>Additional information</b></p>
                {{#additional-information}}
                    <table class="summary-list">
                        <tr><td>Has additional information</td><td>{{ optionalValue hasAdditionalInformation }}</td></tr>
                        <tr><td>Additional information detail</td><td>{{ optionalValue additionalInformationDetail }}</td></tr>
                    </table>
                {{/additional-information}}
                {{^additional-information}}
                    <p>No Data Held</p>
                {{/additional-information}}

                <p><b>Vulnerability</b></p>
                {{#vulnerability}}
                    <table class="summary-list">
                        <tr><td>Vulnerability detail</td><td>{{ optionalValue vulnerabilityDetail }}</td></tr>
                        <tr><td>Confirmation</td><td>{{ optionalValue confirmation }}</td></tr>
                    </table>
                {{/vulnerability}}
                {{^vulnerability}}
                    <p>No Data Held</p>
                {{/vulnerability}}

                <p><b>Current risk</b></p>
                {{#current-risk}}
                    <table class="summary-list">
                        <tr><td>Current risk detail</td><td>{{ optionalValue currentRiskDetail }}</td></tr>
                        <tr><td>Confirmation</td><td>{{ optionalValue confirmation }}</td></tr>
                    </table>
                {{/current-risk}}
                {{^current-risk}}
                    <p>No Data Held</p>
                {{/current-risk}}

            {{/data.risk-to-self}}
            {{^data.risk-to-self}}
                <p>No Data Held</p>
            {{/data.risk-to-self}}

            <h5>Community Probation Practitioner details and Home Detention Curfew licence conditions</h5>
            {{#data.cpp-details-and-hdc-licence-conditions}}
                <p><b>Community Probation Practitioner details</b></p>
                {{#cpp-details}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Name</td>
                            <td class="data-column-25">Probation region</td>
                            <td class="data-column-25">Telephone</td>
                            <td class="data-column-25">Email</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue name }}</td>
                            <td>{{ optionalValue probationRegion }}</td>
                            <td>{{ optionalValue telephone }}</td>
                            <td>{{ optionalValue email }}</td>
                        </tr>
                    </table>
                {{/cpp-details}}
                {{^cpp-details}}
                    <p>No Data Held</p>
                {{/cpp-details}}
                <p><b>Non-standard licence conditions</b></p>
                {{#non-standard-licence-conditions}}
                    <table class="summary-list">
                        <tr><td>Non-standard licence conditions</td><td>{{ optionalValue nonStandardLicenceConditions }}</td></tr>
                        <tr><td>Non-standard licence conditions detail</td><td>{{ optionalValue nonStandardLicenceConditionsDetail }}</td></tr>
                    </table>
                {{/non-standard-licence-conditions}}
                {{^non-standard-licence-conditions}}
                    <p>No Data Held</p>
                {{/non-standard-licence-conditions}}
            {{/data.cpp-details-and-hdc-licence-conditions}}
            {{^data.cpp-details-and-hdc-licence-conditions}}
                <p>No Data Held</p>
            {{/data.cpp-details-and-hdc-licence-conditions}}

            <h5>Information needed from applicant</h5>
            {{#data.information-needed-from-applicant.information-needed-from-applicant}}
                <table class="summary-list">
                    <tr><td>Has information needed</td><td>{{ optionalValue hasInformationNeeded }}</td></tr>
                </table>
            {{/data.information-needed-from-applicant.information-needed-from-applicant}}
            {{^data.information-needed-from-applicant.information-needed-from-applicant}}
                <p>No Data Held</p>
            {{/data.information-needed-from-applicant.information-needed-from-applicant}}

            <h5>Confirm consent</h5>
            {{#data.confirm-consent.confirm-consent}}
                <table class="data-table">
                    <tr>
                        <td class="data-column-50">Has given consent</td>
                        <td class="data-column-50">Consent date</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue hasGivenConsent }}</td>
                        <td>{{ optionalValue (formatDate consentDate) }}</td>
                    </tr>
                </table>
            {{/data.confirm-consent.confirm-consent}}
            {{^data.confirm-consent.confirm-consent}}
                <p>No Data Held</p>
            {{/data.confirm-consent.confirm-consent}}

            <h5>Funding information</h5>
            {{#data.funding-information}}
                <table class="data-table">
                    <tr>
                        <td class="data-column-50">National insurance number</td>
                        <td class="data-column-50">Funding source</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue national-insurance.nationalInsuranceNumber }}</td>
                        <td>{{ optionalValue funding-source.fundingSource }}</td>
                    </tr>
                </table>
            {{/data.funding-information}}
            {{^data.funding-information}}
                <p>No Data Held</p>
            {{/data.funding-information}}

            <h5>Confirm eligibility</h5>
            {{#data.confirm-eligibility}}
            <table class="summary-list">
                <tr><td>Is eligible</td><td>{{ optionalValue confirm-eligibility.isEligible }}</td></tr>
            </table>
            {{/data.confirm-eligibility}}
            {{^data.confirm-eligibility}}
                <p>No Data Held</p>
            {{/data.confirm-eligibility}}

            <h5>Current offences</h5>
            {{#data.current-offences.current-offence-data}}
                <p><b>Offence</b></p>
                <table class="summary-list">
                    <tr><td>Title</td><td>{{ optionalValue titleAndNumber }}</td></tr>
                    <tr><td>Offence date</td><td>{{ buildDate offenceDate-year offenceDate-month offenceDate-day }}</td></tr>
                    <tr><td>Offence category</td><td>{{ optionalValue offenceCategory }}</td></tr>
                    <tr><td>Sentence length</td><td>{{ optionalValue sentenceLength }}</td></tr>
                    <tr><td>Summary</td><td>{{ optionalValue summary }}</td></tr>
                    <tr><td>Outstanding charges</td><td>{{ optionalValue outstandingCharges }}</td></tr>
                    <tr><td>Outstanding charges detail</td><td>{{ optionalValue outstandingChargesDetail }}</td></tr>
                </table>
            {{/data.current-offences.current-offence-data}}
            {{^data.current-offences.current-offence-data}}
                <p>No Data Held</p>
            {{/data.current-offences.current-offence-data}}

            <h5>Personal information</h5>
            {{#data.personal-information}}
                <table class="data-table">
                    <tr>
                        <td class="data-column-30">Has working mobile phone</td>
                        <td class="data-column-30">Mobile phone number</td>
                        <td class="data-column-30">Is smartphone</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue working-mobile-phone.working-mobile-phone }}</td>
                        <td>{{ optionalValue working-mobile-phone.mobilePhoneNumber }}</td>
                        <td>{{ optionalValue working-mobile-phone.isSmartPhone }}</td>
                    </tr>
                </table>
                <table class="data-table">
                    <tr>
                        <td class="data-column-30">Immigration status</td>
                        <td class="data-column-30">Is pregnant</td>
                        <td class="data-column-30">Pregnancy due date</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue immigration-status.immigrationStatus }}</td>
                        <td>{{ optionalValue pregnancy-information.isPregnant }}</td>
                        <td>{{ buildDate pregnancy-information.dueDate-year pregnancy-information.dueDate-month pregnancy-information.dueDate-day }}</td>
                    </tr>
                </table>
                <table class="data-table">
                    <tr>
                        <td class="data-column-30">Has support worker preference</td>
                        <td class="data-column-30">Support worker preference</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue support-worker-preference.hasSupportWorkerPreference }}</td>
                        <td>{{ optionalValue support-worker-preference.supportWorkerPreference }}</td>
                    </tr>
                </table>
            {{/data.personal-information}}
            {{^data.personal-information}}
                <p>No Data Held</p>
            {{/data.personal-information}}

            <h5>Equality and diversity monitoring</h5>
            {{#data.equality-and-diversity-monitoring}}
                <table class="data-table">
                    <tr>
                        <td class="data-column-25">Is care leaver</td>
                        <td class="data-column-25">Is veteran</td>
                        <td class="data-column-25">Gender</td>
                        <td class="data-column-25">Sex</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue care-leaver.isCareLeaver }}</td>
                        <td>{{ optionalValue military-veteran.isVeteran }}</td>
                        <td>{{ optionalValue sex-and-gender.gender }}</td>
                        <td>{{ optionalValue sex-and-gender.sex }}</td>
                    </tr>
                </table>
                <table class="data-table">
                    <tr>
                        <td class="data-column-25">Optional gender identity</td>
                        <td class="data-column-25">Ethnic group</td>
                        <td class="data-column-25">Has parental or carer responsibilities</td>
                        <td class="data-column-25">Has disability</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue sex-and-gender.optionalGenderIdentity }}</td>
                        <td>{{ optionalValue ethnic-group.ethnicGroup }}</td>
                        <td>{{ optionalValue parental-carer-responsibilities.hasParentalOrCarerResponsibilities }}</td>
                        <td>{{ optionalValue disability.hasDisability }}</td>
                    </tr>
                </table>
                <table class="data-table">
                    <tr>
                        <td class="data-column-25">Other disability</td>
                        <td class="data-column-25">White background</td>
                        <td class="data-column-25">Optional white background</td>
                        <td class="data-column-25">Sexual orientation</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue disability.otherDisability }}</td>
                        <td>{{ optionalValue white-background.whiteBackground }}</td>
                        <td>{{ optionalValue white-background.optionalWhiteBackground }}</td>
                        <td>{{ optionalValue sexual-orientation.orientation }}</td>
                    </tr>
                </table>
                <table class="data-table">
                    <tr>
                        <td class="data-column-25">Other sexual orientation</td>
                        <td class="data-column-25">Marital status</td>
                        <td class="data-column-25">Will answer equality questions</td>
                        <td class="data-column-25">Religion</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue sexual-orientation.otherOrientation }}</td>
                        <td>{{ optionalValue marital-status.maritalStatus }}</td>
                        <td>{{ optionalValue will-answer-equality-questions.willAnswer }}</td>
                        <td>{{ optionalValue religion.religion }}</td>
                    </tr>
                </table>
            {{/data.equality-and-diversity-monitoring}}
            {{^data.equality-and-diversity-monitoring}}
                <p>No Data Held</p>
            {{/data.equality-and-diversity-monitoring}}

            <h5>Risk of serious harm</h5>
            {{#data.risk-of-serious-harm}}
                <p><b>Reducing risk</b></p>
                <table class="summary-list">
                    <tr><td>Factors likely to reduce risk</td><td>{{ optionalValue reducing-risk.factorsLikelyToReduceRisk }}</td></tr>
                    <tr><td>Confirmation</td><td>{{ optionalValue reducing-risk.confirmation }}</td></tr>
                </table>

                <p><b>Cell share information</b></p>
                <table class="summary-list">
                    <tr><td>Has cell share comments</td><td>{{ optionalValue cell-share-information.hasCellShareComments }}</td></tr>
                    <tr><td>Cell share information detail</td><td>{{ optionalValue cell-share-information.cellShareInformationDetail }}</td></tr>
                </table>

                <p><b>Summary data</b></p>
                {{#summary-data}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-30">Last updated</td>
                            <td class="data-column-30">Overall risk</td>
                            <td class="data-column-30">Risk to children</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue (formatDate value.lastUpdated) }}</td>
                            <td>{{ optionalValue value.overallRisk }}</td>
                            <td>{{ optionalValue value.riskToChildren }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-30">Risk to public</td>
                            <td class="data-column-30">Risk to known adult</td>
                            <td class="data-column-30">Risk to staff</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue value.riskToPublic }}</td>
                            <td>{{ optionalValue value.riskToKnownAdult }}</td>
                            <td>{{ optionalValue value.riskToStaff }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-30">Status</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue status }}</td>
                        </tr>
                    </table>
                {{/summary-data}}
                {{^summary-data}}
                    <p>No Data Held</p>
                {{/summary-data}}

                <p><b>Risk factors</b></p>
                {{#risk-factors}}
                    <table class="summary-list">
                        <tr><td>Circumstances likely to increase risk</td><td>{{ optionalValue circumstancesLikelyToIncreaseRisk }}</td></tr>
                        <tr><td>When is risk likely to be greatest</td><td>{{ optionalValue whenIsRiskLikelyToBeGreatest }}</td></tr>
                        <tr><td>Confirmation</td><td>{{ optionalValue confirmation }}</td></tr>
                    </table>
                {{/risk-factors}}
                {{^risk-factors}}
                    <p>No Data Held</p>
                {{/risk-factors}}

                <p><b>Risk management arrangements</b></p>
                {{#risk-management-arrangements}}
                    <table class="summary-list">
                        <tr><td>Arrangements</td><td>{{ optionalValue arrangements }}</td></tr>
                        <tr><td>Multi Agency Risk Assessment Conference details</td><td>{{ optionalValue maracDetails }}</td></tr>
                        <tr><td>Multi Agency Public Protection Arrangements details</td><td>{{ optionalValue mappaDetails }}</td></tr>
                        <tr><td>Integrated Offender Management details</td><td>{{ optionalValue iomDetails }}</td></tr>
                    </table>
                {{/risk-management-arrangements}}
                {{^risk-management-arrangements}}
                    <p>No Data Held</p>
                {{/risk-management-arrangements}}

                <p><b>Additional risk information</b></p>
                {{#additional-risk-information}}
                    <table class="summary-list">
                        <tr><td>Has additional risk information</td><td>{{ optionalValue hasAdditionalInformation }}</td></tr>
                        <tr><td>Additional information detail</td><td>{{ optionalValue additionalInformationDetail }}</td></tr>
                    </table>
                {{/additional-risk-information}}
                {{^additional-risk-information}}
                    <p>No Data Held</p>
                {{/additional-risk-information}}

                <p><b>Risk to others</b></p>
                {{#risk-to-others}}
                    <table class="summary-list">
                        <tr><td>Who is at risk</td><td>{{ optionalValue whoIsAtRisk }}</td></tr>
                        <tr><td>Nature of risk</td><td>{{ optionalValue natureOfRisk }}</td></tr>
                        <tr><td>Confirmation</td><td>{{ optionalValue confirmation }}</td></tr>
                    </table>
                {{/risk-to-others}}
                {{^risk-to-others}}
                    <p>No Data Held</p>
                {{/risk-to-others}}

            {{/data.risk-of-serious-harm}}
            {{^data.risk-of-serious-harm}}
                <p>No Data Held</p>
            {{/data.risk-of-serious-harm}}

            <h5>Home Detention Curfew Licence dates</h5>
            {{#data.hdc-licence-dates}}
                <table class="data-table">
                    <tr>
                        <td class="data-column-50">Home Detention Curfew eligibility date</td>
                        <td class="data-column-50">Conditional release date</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue (formatDate hdc-licence-dates.hdcEligibilityDate) }}</td>
                        <td>{{ optionalValue (formatDate hdc-licence-dates.conditionalReleaseDate) }}</td>
                    </tr>
                </table>
            {{/data.hdc-licence-dates}}
            {{^data.hdc-licence-dates}}
                <p>No Data Held</p>
            {{/data.hdc-licence-dates}}

            <h5>Area information</h5>
            {{#data.area-information}}
                <table class="summary-list">
                    <tr><td>Family property</td><td>{{ optionalValue family-accommodation.familyProperty }}</td></tr>
                </table>
                <p><b>First preferred area</b></p>
                <table class="summary-list">
                    <tr><td>Preferred area</td><td>{{ optionalValue first-preferred-area.preferredArea }}</td></tr>
                    <tr><td>Preference reason</td><td>{{ optionalValue first-preferred-area.preferenceReason }}</td></tr>
                </table>
                <p><b>Second preferred area</b></p>
                <table class="summary-list">
                    <tr><td>Preferred area</td><td>{{ optionalValue second-preferred-area.preferredArea }}</td></tr>
                    <tr><td>Preference reason</td><td>{{ optionalValue second-preferred-area.preferenceReason }}</td></tr>
                </table>
                <p><b>Exclusion zones</b></p>
                <table class="summary-list">
                    <tr><td>Has exclusion zones</td><td>{{ optionalValue exclusion-zones.hasExclusionZones }}</td></tr>
                    <tr><td>Exclusion zones detail</td><td>{{ optionalValue exclusion-zones.exclusionZonesDetail }}</td></tr>
                </table>
                <p><b>Gang affiliations</b></p>
                <table class="summary-list">
                    <tr><td>Has gang affiliations</td><td>{{ optionalValue gang-affiliations.hasGangAffiliations }}</td></tr>
                    <tr><td>Gang name</td><td>{{ optionalValue gang-affiliations.gangName }}</td></tr>
                    <tr><td>Gang operation area</td><td>{{ optionalValue gang-affiliations.gangOperationArea }}</td></tr>
                    <tr><td>Rival gang detail</td><td>{{ optionalValue gang-affiliations.rivalGangDetail }}</td></tr>
                </table>
            {{/data.area-information}}
            {{^data.area-information}}
                <p>No Data Held</p>
            {{/data.area-information}}

            <h5>Health needs</h5>
            {{#data.health-needs}}
                <p><b>Physical health</b></p>
                {{#physical-health}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-20">Can live independently</td>
                            <td class="data-column-20">Can climb stairs</td>
                            <td class="data-column-20">Is receiving medication or treatment</td>
                            <td class="data-column-20">Has physical health needs</td>
                            <td class="data-column-20">Requires additional support</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue canLiveIndependently }}</td>
                            <td>{{ optionalValue canClimbStairs }}</td>
                            <td>{{ optionalValue isReceivingMedicationOrTreatment }}</td>
                            <td>{{ optionalValue hasPhyHealthNeeds }}</td>
                            <td>{{ optionalValue requiresAdditionalSupport }}</td>
                        </tr>
                    </table>
                    <table class="summary-list">
                        <tr><td>Independent living detail</td><td>{{ optionalValue indyLivingDetail }}</td></tr>
                        <tr><td>Medication or treatment detail</td><td>{{ optionalValue medicationOrTreatmentDetail }}</td></tr>
                        <tr><td>Physical health needs detail</td><td>{{ optionalValue needsDetail }}</td></tr>
                        <tr><td>Additional support detail</td><td>{{ optionalValue addSupportDetail }}</td></tr>
                    </table>
                {{/physical-health}}
                {{^physical-health}}
                    <p>No Data Held</p>
                {{/physical-health}}

                <p><b>Mental health</b></p>
                {{#mental-health}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-25">Has mental health needs</td>
                            <td class="data-column-25">Is engaged with community</td>
                            <td class="data-column-25">Is engaged with services in custody</td>
                            <td class="data-column-25">Can manage medication</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue hasMentalHealthNeeds }}</td>
                            <td>{{ optionalValue isEngagedWithCommunity }}</td>
                            <td>{{ optionalValue isEngagedWithServicesInCustody }}</td>
                            <td>{{ optionalValue canManageMedication }}</td>
                        </tr>
                    </table>
                    <table class="summary-list">
                        <tr><td>Mental health needs detail</td><td>{{ optionalValue needsDetail }}</td></tr>
                        <tr><td>Mental health needs presentation</td><td>{{ optionalValue needsPresentation }}</td></tr>
                        <tr><td>Medication issues</td><td>{{ optionalValue medicationIssues }}</td></tr>
                        <tr><td>Can manage medication notes</td><td>{{ optionalValue canManageMedicationNotes }}</td></tr>
                        <tr><td>Can't manage medication notes</td><td>{{ optionalValue cantManageMedicationNotes }}</td></tr>
                    </table>
                {{/mental-health}}
                {{^mental-health}}
                    <p>No Data Held</p>
                {{/mental-health}}

                <p><b>Mental health</b></p>
                {{#substance-misuse}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-20">Uses illegal substances</td>
                            <td class="data-column-20">Released with naloxone</td>
                            <td class="data-column-20">Past substance misuse</td>
                            <td class="data-column-20">Requires substitute medication</td>
                            <td class="data-column-20">Engaged with drug and alcohol service</td>
                            <td class="data-column-20">Intent to refer to service on release</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue usesIllegalSubstances }}</td>
                            <td>{{ optionalValue releasedWithNaloxone }}</td>
                            <td>{{ optionalValue pastSubstanceMisuse }}</td>
                            <td>{{ optionalValue requiresSubstituteMedication }}</td>
                            <td>{{ optionalValue engagedWithDrugAndAlcoholService }}</td>
                            <td>{{ optionalValue intentToReferToServiceOnRelease }}</td>
                        </tr>
                    </table>
                    <table class="summary-list">
                        <tr><td>Substance misuse</td><td>{{ optionalValue substanceMisuse }}</td></tr>
                        <tr><td>Substitute medication detail</td><td>{{ optionalValue substituteMedicationDetail }}</td></tr>
                        <tr><td>Past substance misuse detail</td><td>{{ optionalValue pastSubstanceMisuseDetail }}</td></tr>
                        <tr><td>Drug and alcohol service detail</td><td>{{ optionalValue drugAndAlcoholServiceDetail }}</td></tr>
                    </table>
                {{/substance-misuse}}
                {{^substance-misuse}}
                    <p>No Data Held</p>
                {{/substance-misuse}}

                <p><b>Learning difficulties</b></p>
                {{#learning-difficulties}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-20">Has learning needs</td>
                            <td class="data-column-20">Requires additional support</td>
                            <td class="data-column-20">Has difficulty interacting</td>
                            <td class="data-column-20">Is vulnerable</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue hasLearningNeeds }}</td>
                            <td>{{ optionalValue requiresAdditionalSupport }}</td>
                            <td>{{ optionalValue hasDifficultyInteracting }}</td>
                            <td>{{ optionalValue isVulnerable }}</td>
                        </tr>
                    </table>
                    <table class="summary-list">
                        <tr><td>Learning needs detail</td><td>{{ optionalValue needsDetail }}</td></tr>
                        <tr><td>Additional support detail</td><td>{{ optionalValue addSupportDetail }}</td></tr>
                        <tr><td>Interaction detail</td><td>{{ optionalValue interactionDetail }}</td></tr>
                        <tr><td>Vulnerability detail</td><td>{{ optionalValue vulnerabilityDetail }}</td></tr>
                    </table>
                {{/learning-difficulties}}
                {{^learning-difficulties}}
                    <p>No Data Held</p>
                {{/learning-difficulties}}

                <p><b>Other health</b></p>
                {{#other-health}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-20">Has long term health condition</td>
                            <td class="data-column-20">Has had stroke</td>
                            <td class="data-column-20">Has seizures</td>
                            <td class="data-column-20">Being treated for cancer</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue hasLongTermHealthCondition }}</td>
                            <td>{{ optionalValue hasHadStroke }}</td>
                            <td>{{ optionalValue hasSeizures }}</td>
                            <td>{{ optionalValue beingTreatedForCancer }}</td>
                        </tr>
                    </table>
                    <table class="summary-list">
                        <tr><td>Health condition detail</td><td>{{ optionalValue healthConditionDetail }}</td></tr>
                        <tr><td>Seizures detail</td><td>{{ optionalValue seizuresDetail }}</td></tr>
                    </table>
                {{/other-health}}
                {{^other-health}}
                    <p>No Data Held</p>
                {{/other-health}}

                <p><b>Brain injury</b></p>
                {{#brain-injury}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-20">Has brain injury</td>
                            <td class="data-column-20">Requires additional support</td>
                            <td class="data-column-20">Has difficulty interacting</td>
                            <td class="data-column-20">Is vulnerable</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue hasBrainInjury }}</td>
                            <td>{{ optionalValue requiresAdditionalSupport }}</td>
                            <td>{{ optionalValue hasDifficultyInteracting }}</td>
                            <td>{{ optionalValue isVulnerable }}</td>
                        </tr>
                    </table>
                    <table class="summary-list">
                        <tr><td>Injury detail</td><td>{{ optionalValue injuryDetail }}</td></tr>
                        <tr><td>Additional support detail</td><td>{{ optionalValue addSupportDetail }}</td></tr>
                        <tr><td>Interaction detail</td><td>{{ optionalValue interactionDetail }}</td></tr>
                        <tr><td>Vulnerability detail</td><td>{{ optionalValue vulnerabilityDetail }}</td></tr>
                    </table>
                {{/brain-injury}}
                {{^brain-injury}}
                    <p>No Data Held</p>
                {{/brain-injury}}

                <p><b>Communication and language</b></p>
                {{#communication-and-language}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-30">Has support needs</td>
                            <td class="data-column-30">Requires interpreter</td>
                            <td class="data-column-30">Has communication needs</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue hasSupportNeeds }}</td>
                            <td>{{ optionalValue requiresInterpreter }}</td>
                            <td>{{ optionalValue hasCommunicationNeeds }}</td>
                        </tr>
                    </table>
                    <table class="summary-list">
                        <tr><td>Support detail</td><td>{{ optionalValue supportDetail }}</td></tr>
                        <tr><td>Interpretation detail</td><td>{{ optionalValue interpretationDetail }}</td></tr>
                        <tr><td>Communication detail</td><td>{{ optionalValue communicationDetail }}</td></tr>
                    </table>
                {{/communication-and-language}}
                {{^communication-and-language}}
                    <p>No Data Held</p>
                {{/communication-and-language}}

            {{/data.health-needs}}
            {{^data.health-needs}}
                <p>No Data Held</p>
            {{/data.health-needs}}

            <h5>Referrer details</h5>
            {{#data.referrer-details}}
                <table class="summary-list">
                    <tr><td>Name</td><td>{{ optionalValue confirm-details.name }}</td></tr>
                    <tr><td>Job title</td><td>{{ optionalValue job-title.jobTitle }}</td></tr>
                    <tr><td>Telephone</td><td>{{ optionalValue contact-number.telephone }}</td></tr>
                    <tr><td>Email</td><td>{{ optionalValue confirm-details.email }}</td></tr>
                </table>
            {{/data.referrer-details}}
            {{^data.referrer-details}}
                <p>No Data Held</p>
            {{/data.referrer-details}}

        {{/Applications}}
        {{^Applications}}
            <p>No Data Held</p>
        {{/Applications}}

        <h3>Assessments</h3>
        {{#Assessments}}
            <table class="data-table">
                <tr>
                    <td class="data-column-30">Created at</td>
                    <td class="data-column-30">Assessor name</td>
                    <td class="data-column-30">Nacro referral id</td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate created_at) }}</td>
                    <td>{{ optionalValue assessor_name }}</td>
                    <td>{{ optionalValue nacro_referral_id }}</td>
                </tr>
            </table>
        {{/Assessments}}
        {{^Assessments}}
            <p>No Data Held</p>
        {{/Assessments}}

    {{/ShortTermAccommodation}}
    {{^ShortTermAccommodation}}
        <p>No Data Held</p>
    {{/ShortTermAccommodation}}

{{/.}}
{{^.}}
    <p>No Data Held</p>
{{/.}}
