---
# Per environment values which override defaults in hmpps-subject-access-request-worker/values.yaml

generic-service:
  ingress:
    host: subject-access-request-worker.hmpps.service.justice.gov.uk

  env:
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    DOCUMENT_STORAGE_URL: "https://document-api.hmpps.service.justice.gov.uk"
    PRISON_API_URL: "https://prison-api.prison.service.justice.gov.uk"
    PROBATION_API_URL: "https://subject-access-requests-and-delius.hmpps.service.justice.gov.uk"
    SAR_API_URL: "https://subject-access-request-api.hmpps.service.justice.gov.uk"
    LOCATIONS_API_URL: "https://locations-inside-prison-api.hmpps.service.justice.gov.uk"
    NOMIS_MAPPINGS_API_URL: "https://nomis-sync-prisoner-mapping.hmpps.service.justice.gov.uk"
    SENTRY_ENV: prod
    SAR_HTML_RENDERER_API_URL: "https://subject-access-request-html-renderer.hmpps.service.justice.gov.uk"
    S3_PROVIDER: "aws"
    BACKLOG_REQUEST_API_ENABLED: false
    BACKLOG_REQUEST_PROCESSOR_ENABLED: false
    BACKLOG_REQUEST_PROCESSOR_INTERVAL: 10
    BACKLOG_REQUEST_PROCESSOR_INITIAL_DELAY: 5
    BACKLOG_REQUEST_PROCESSOR_POOL_SIZE: 5
    TASK_SCHEDULING_POOL_SIZE: 1

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps_tech
